{% extends 'base.html' %}
{% block title %} Priest skills {% endblock %}

{% block body %}
    <!-- <div class="flex  h-fit justify-between w-full"> -->
        <!-- content div -->
        <div class="flex flex-col h-fit bg-[#191D21] w-full">
            <div class="flex flex-col w-full h-full 2xl:pl-5 2xl:pr-5 pl-3 pr-3">
                <div class="flex flex-col h-fit w-full pb-4">
                    {% for skill_type in count_class_skill_type  %}
                       <!-- {{skill_type}} -->
                       <div>
                            <div class="flex text-[#dbae28] justify-center mb-2 mt-2 text-xl">
                                <span>
                                    {% if skill_type == 'Buff' %}Bufer
                                    {% elif skill_type == 'Heal' %}Healer 
                                    {% elif skill_type == 'Dbf' %}Debuffer
                                    {% elif skill_type == 'Train' %}Trainee
                                    {% else %}Master
                                    {% endif %}
                                </span>
                            </div>
                            <table class="table-auto text-white border-1 flex-col w-full">
                                <thead class="border-1 text-center">
                                    <tr>
                                        <th class="border w-1/5 2xl:w-1/6">Skill Name</th>
                                        <th class="border w-1/2">Description</th>
                                        <th class="border w-1/12">Mana Cost </th>
                                        <th class="border w-1/12">Cd.</th>
                                        <th class="border w-1/12">Skill Point</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if skill_type == 'Train' %}
                                        {% for train_sk in priest_trainee %}
                                            {% if forloop.counter0|divisibleby:2  %}
                                                <tr class="border h-full bg-[#262b30]">
                                                    <td class="flex">
                                                        <div class=" flex items-center 2xl:h-[50px] 2xl:w-[50px]" >
                                                            <img src="{{train_sk.img.url}}" class="w-[25px] h-[25px] 2xl:w-fit 2xl:h-fit p-1">
                                                        </div>
                                                        <span class="flex items-center w-full 2xl:w-auto">
                                                            {{train_sk.name}}
                                                        </span>
                                                    </td>
                                                    <td class="border text-center">{{train_sk.description}}</td>
                                                    <td class="border text-center">{{train_sk.mana}}</td>
                                                    <td class="border text-center">{{train_sk.cooldown}}</td>
                                                    <td class="border text-center">{{train_sk.skill_point}}</td>
                                                </tr>
                                            {% else %}
                                                <tr class="border h-full bg-[#21262b]">
                                                    <td class="flex">
                                                        <div class=" flex items-center 2xl:h-[50px] 2xl:w-[50px]" >
                                                            <img src="{{train_sk.img.url}}" class="w-[25px] h-[25px] 2xl:w-fit 2xl:h-fit p-1">
                                                        </div>
                                                        <span class="flex items-center w-full 2xl:w-auto">
                                                            {{train_sk.name}}
                                                        </span>
                                                    </td>
                                                    <td class="border text-center">{{train_sk.description}}</td>
                                                    <td class="border text-center">{{train_sk.mana}}</td>
                                                    <td class="border text-center">{{train_sk.cooldown}}</td>
                                                    <td class="border text-center">{{train_sk.skill_point}}</td>
                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}

                                    {% if skill_type == 'Buff' %}
                                        {% for buff_sk in priest_buff %}
                                            {% if forloop.counter0|divisibleby:2  %}
                                                <tr class="border bg-[#262b30]">
                                                    <td class="flex">
                                                        <div class=" flex items-center 2xl:h-[50px] 2xl:w-[50px]">
                                                        <img src="{{buff_sk.img.url}}" class="w-[25px] h-[25px] 2xl:w-fit 2xl:h-fit p-1">
                                                        </div>
                                                        <span class="flex items-center w-full 2xl:w-auto">
                                                            {{buff_sk.name}}
                                                        </span>
                                                    </td>
                                                    <td class="border text-center">{{buff_sk.description}}</td>
                                                    <td class="border text-center">{{buff_sk.mana}}</td>
                                                    <td class="border text-center">{{buff_sk.cooldown}}</td>
                                                    <td class="border text-center">{{buff_sk.skill_point}}</td>
                                                </tr>
                                            {% else %}
                                                <tr class="border bg-[#21262b]">
                                                    <td class="flex">
                                                        <div class=" flex items-center 2xl:h-[50px] 2xl:w-[50px]">
                                                        <img src="{{buff_sk.img.url}}" class="w-[25px] h-[25px] 2xl:w-fit 2xl:h-fit p-1">
                                                        </div>
                                                        <span class="flex items-center w-full 2xl:w-auto">
                                                            {{buff_sk.name}}
                                                        </span>
                                                    </td>
                                                    <td class="border text-center">{{buff_sk.description}}</td>
                                                    <td class="border text-center">{{buff_sk.mana}}</td>
                                                    <td class="border text-center">{{buff_sk.cooldown}}</td>
                                                    <td class="border text-center">{{buff_sk.skill_point}}</td>
                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}

                                    {% if skill_type == 'Heal' %}
                                        {% for heal_sk in priest_heal %}
                                            {% if forloop.counter0|divisibleby:2  %}
                                                <tr class="border bg-[#262b30]">
                                                    <td class="flex">
                                                        <div class=" flex items-center 2xl:h-[50px] 2xl:w-[50px]">
                                                            <img src="{{heal_sk.img.url}}" class="w-[25px] h-[25px] 2xl:w-fit 2xl:h-fit p-1">
                                                        </div>
                                                        <span class="flex items-center w-full 2xl:w-auto">
                                                            {{heal_sk.name}}
                                                        </span>
                                                    </td>
                                                    <td class="border text-center">{{heal_sk.description}}</td>
                                                    <td class="border text-center">{{heal_sk.mana}}</td>
                                                    <td class="border text-center">{{heal_sk.cooldown}}</td>
                                                    <td class="border text-center">{{heal_sk.skill_point}}</td>
                                                </tr>
                                            {% else %}
                                                <tr class="border bg-[#21262b]">
                                                    <td class="flex">
                                                        <div class=" flex items-center 2xl:h-[50px] 2xl:w-[50px]">
                                                            <img src="{{heal_sk.img.url}}" class="w-[25px] h-[25px] 2xl:w-fit 2xl:h-fit p-1">
                                                        </div>
                                                        <span class="flex items-center w-full 2xl:w-auto">
                                                            {{heal_sk.name}}
                                                        </span>
                                                    </td>
                                                    <td class="border text-center">{{heal_sk.description}}</td>
                                                    <td class="border text-center">{{heal_sk.mana}}</td>
                                                    <td class="border text-center">{{heal_sk.cooldown}}</td>
                                                    <td class="border text-center">{{heal_sk.skill_point}}</td>
                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}

                                    {% if skill_type == 'Dbf' %}
                                        {% for dbf_sk in priest_debuff %}
                                            {% if forloop.counter0|divisibleby:2  %}
                                                <tr class="border bg-[#262b30]">
                                                    <td class="flex">
                                                        <div class=" flex items-center 2xl:h-[50px] 2xl:w-[50px]">
                                                            <img src="{{dbf_sk.img.url}}" class="w-[25px] h-[25px] 2xl:w-fit 2xl:h-fit p-1">
                                                        </div>
                                                        <span class="flex items-center w-full 2xl:w-auto">
                                                            {{dbf_sk.name}}
                                                        </span>
                                                    </td>
                                                    <td class="border text-center">{{dbf_sk.description}}</td>
                                                    <td class="border text-center">{{dbf_sk.mana}}</td>
                                                    <td class="border text-center">{{dbf_sk.cooldown}}</td>
                                                    <td class="border text-center">{{dbf_sk.skill_point}}</td>
                                                </tr>
                                            {% else %}
                                                <tr class="border bg-[#21262b]">
                                                    <td class="flex">
                                                        <div class=" flex items-center 2xl:h-[50px] 2xl:w-[50px]">
                                                            <img src="{{dbf_sk.img.url}}" class="w-[25px] h-[25px] 2xl:w-fit 2xl:h-fit p-1">
                                                        </div>
                                                        <span class="flex items-center w-full 2xl:w-auto">
                                                            {{dbf_sk.name}}
                                                        </span>
                                                    </td>
                                                    <td class="border text-center">{{dbf_sk.description}}</td>
                                                    <td class="border text-center">{{dbf_sk.mana}}</td>
                                                    <td class="border text-center">{{dbf_sk.cooldown}}</td>
                                                    <td class="border text-center">{{dbf_sk.skill_point}}</td>
                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}

                                    {% if skill_type == 'Mstr' %}
                                        {% for mstr_sk in priest_master %}
                                            {% if forloop.counter0|divisibleby:2  %}
                                                <tr class="border bg-[#262b30]">
                                                    <td class="flex">
                                                        <div class=" flex items-center 2xl:h-[50px] 2xl:w-[50px]">
                                                            <img src="{{mstr_sk.img.url}}" class="w-[25px] h-[25px] 2xl:w-fit 2xl:h-fit p-1" >
                                                        </div>
                                                        <span class="flex items-center w-full 2xl:w-auto">
                                                            {{mstr_sk.name}}
                                                        </span>
                                                    </td>
                                                    <td class="border text-center">{{mstr_sk.description}}</td>
                                                    <td class="border text-center">{{mstr_sk.mana}}</td>
                                                    <td class="border text-center">{{mstr_sk.cooldown}}</td>
                                                    <td class="border text-center">{{mstr_sk.skill_point}}</td>
                                                </tr>
                                            {% else %}
                                                <tr class="border bg-[#21262b]">
                                                    <td class="flex">
                                                        <div class=" flex items-center 2xl:h-[50px] 2xl:w-[50px]">
                                                            <img src="{{mstr_sk.img.url}}" class="w-[25px] h-[25px] 2xl:w-fit 2xl:h-fit p-1" >
                                                        </div>
                                                        <span class="flex items-center w-full 2xl:w-auto">
                                                            {{mstr_sk.name}}
                                                        </span>
                                                    </td>
                                                    <td class="border text-center">{{mstr_sk.description}}</td>
                                                    <td class="border text-center">{{mstr_sk.mana}}</td>
                                                    <td class="border text-center">{{mstr_sk.cooldown}}</td>
                                                    <td class="border text-center">{{mstr_sk.skill_point}}</td>
                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}