{% extends 'base.html' %}
{% block title %} Rogue skills {% endblock %}

{% block body %}
    <div class="flex h-fit justify-between w-full">
        <!-- content div -->
        <div class="flex flex-col h-fit bg-[#191D21] w-full">
            <div class="flex flex-col w-full h-full 2xl:pl-5 2xl:pr-5 pl-3 pr-3">
                <div class="flex flex-col h-fit w-full pb-4">
                    {% for skill_type in count_class_skill_type  %}
                       <!-- {{skill_type}} -->
                       <div>
                            <div class="flex text-[#dbae28] justify-center mb-2 mt-2 text-xl">
                                <span>
                                    {% if skill_type == 'Asass' %}Assasin 
                                    {% elif skill_type == 'Mstr' %}Master 
                                    {% elif skill_type == 'Arch' %}Archer
                                    {% elif skill_type == 'Train' %}Trainee
                                    {% else %}Scout
                                    {% endif %}
                                </span>
                            </div>
                            <table class="table-auto text-white border-1 flex-col w-full">
                                <thead class="border-1 text-center">
                                    <tr>
                                        <th class="border w-1/5 2xl:w-1/6">Skill Name</th>
                                        <th class="border w-1/2">Description</th>
                                        <th class="border w-1/12">Mana Cost </th>
                                        <th class="border w-1/12">Cd.</th>
                                        <th class="border w-1/12">Skill Point</th>
                                    </tr>
                                </thead>
                                <tbody >
                                    {% if skill_type == 'Train' %}
                                        {% for train_sk in rogue_trainee %}
                                            {% if forloop.counter0|divisibleby:2  %}
                                                <tr class="border h-full bg-[#262b30]">
                                                    <td class="flex">
                                                        <div class=" flex items-center 2xl:h-[50px] 2xl:w-[50px]" >
                                                            <img src="{{train_sk.img.url}}" class="w-[25px] h-[25px] 2xl:w-fit 2xl:h-fit p-1">
                                                        </div>
                                                        <span class="flex items-center w-full 2xl:w-auto">
                                                            {{train_sk.name}}
                                                        </span>
                                                    </td>
                                                    <td class="border text-center">{{train_sk.description}}</td>
                                                    <td class="border text-center">{{train_sk.mana}}</td>
                                                    <td class="border text-center">{{train_sk.cooldown}}</td>
                                                    <td class="border text-center">{{train_sk.skill_point}}</td>
                                                </tr>
                                            {% else %}
                                                <tr class="border h-full bg-[#21262b]">
                                                    <td class="flex">
                                                        <div class=" flex items-center 2xl:h-[50px] 2xl:w-[50px]" >
                                                            <img src="{{train_sk.img.url}}" class="w-[25px] h-[25px] 2xl:w-fit 2xl:h-fit p-1">
                                                        </div>
                                                        <span class="flex items-center w-full 2xl:w-auto">
                                                            {{train_sk.name}}
                                                        </span>
                                                    </td>
                                                    <td class="border text-center">{{train_sk.description}}</td>
                                                    <td class="border text-center">{{train_sk.mana}}</td>
                                                    <td class="border text-center">{{train_sk.cooldown}}</td>
                                                    <td class="border text-center">{{train_sk.skill_point}}</td>
                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}

                                    {% if skill_type == 'Arch' %}
                                        {% for arch_sk in rogue_arch %}
                                            {% if forloop.counter0|divisibleby:2  %}
                                                <tr class="border bg-[#262b30]">
                                                    <td class="flex">
                                                        <div class=" flex items-center 2xl:h-[50px] 2xl:w-[50px]">
                                                        <img src="{{arch_sk.img.url}}" class="w-[25px] h-[25px] 2xl:w-fit 2xl:h-fit p-1">
                                                        </div>
                                                        <span class="flex items-center w-full 2xl:w-auto">
                                                            {{arch_sk.name}}
                                                        </span>
                                                    </td>
                                                    <td class="border text-center">{{arch_sk.description}}</td>
                                                    <td class="border text-center">{{arch_sk.mana}}</td>
                                                    <td class="border text-center">{{arch_sk.cooldown}}</td>
                                                    <td class="border text-center">{{arch_sk.skill_point}}</td>
                                                </tr>
                                            {% else %}
                                                <tr class="border bg-[#21262b]">
                                                    <td class="flex">
                                                        <div class=" flex items-center 2xl:h-[50px] 2xl:w-[50px]">
                                                        <img src="{{arch_sk.img.url}}" class="w-[25px] h-[25px] 2xl:w-fit 2xl:h-fit p-1">
                                                        </div>
                                                        <span class="flex items-center w-full 2xl:w-auto">
                                                            {{arch_sk.name}}
                                                        </span>
                                                    </td>
                                                    <td class="border text-center">{{arch_sk.description}}</td>
                                                    <td class="border text-center">{{arch_sk.mana}}</td>
                                                    <td class="border text-center">{{arch_sk.cooldown}}</td>
                                                    <td class="border text-center">{{arch_sk.skill_point}}</td>
                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}

                                    {% if skill_type == 'Asass' %}
                                        {% for assas_sk in rogue_assas %}
                                            {% if forloop.counter0|divisibleby:2  %}
                                                <tr class="border bg-[#262b30]">
                                                    <td class="flex">
                                                        <div class=" flex items-center 2xl:h-[50px] 2xl:w-[50px]">
                                                            <img src="{{assas_sk.img.url}}" class="w-[25px] h-[25px] 2xl:w-fit 2xl:h-fit p-1">
                                                        </div>
                                                        <span class="flex items-center w-full 2xl:w-auto">
                                                            {{assas_sk.name}}
                                                        </span>
                                                    </td>
                                                    <td class="border text-center">{{assas_sk.description}}</td>
                                                    <td class="border text-center">{{assas_sk.mana}}</td>
                                                    <td class="border text-center">{{assas_sk.cooldown}}</td>
                                                    <td class="border text-center">{{assas_sk.skill_point}}</td>
                                                </tr>
                                            {% else %}
                                                <tr class="border bg-[#21262b]">
                                                    <td class="flex">
                                                        <div class=" flex items-center 2xl:h-[50px] 2xl:w-[50px]">
                                                            <img src="{{assas_sk.img.url}}" class="w-[25px] h-[25px] 2xl:w-fit 2xl:h-fit p-1">
                                                        </div>
                                                        <span class="flex items-center w-full 2xl:w-auto">
                                                            {{assas_sk.name}}
                                                        </span>
                                                    </td>
                                                    <td class="border text-center">{{assas_sk.description}}</td>
                                                    <td class="border text-center">{{assas_sk.mana}}</td>
                                                    <td class="border text-center">{{assas_sk.cooldown}}</td>
                                                    <td class="border text-center">{{assas_sk.skill_point}}</td>
                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}

                                    {% if skill_type == 'Def' %}
                                        {% for scout_sk in rogue_scout %}
                                            {% if forloop.counter0|divisibleby:2  %}
                                                <tr class="border bg-[#262b30]">
                                                    <td class="flex">
                                                        <div class=" flex items-center 2xl:h-[50px] 2xl:w-[50px]">
                                                            <img src="{{scout_sk.img.url}}" class="w-[25px] h-[25px] 2xl:w-fit 2xl:h-fit p-1">
                                                        </div>
                                                        <span class="flex items-center w-full 2xl:w-auto">
                                                            {{scout_sk.name}}
                                                        </span>
                                                    </td>
                                                    <td class="border text-center">{{scout_sk.description}}</td>
                                                    <td class="border text-center">{{scout_sk.mana}}</td>
                                                    <td class="border text-center">{{scout_sk.cooldown}}</td>
                                                    <td class="border text-center">{{scout_sk.skill_point}}</td>
                                                </tr>
                                            {% else %}
                                                <tr class="border bg-[#21262b]">
                                                    <td class="flex">
                                                        <div class=" flex items-center 2xl:h-[50px] 2xl:w-[50px]">
                                                            <img src="{{scout_sk.img.url}}" class="w-[25px] h-[25px] 2xl:w-fit 2xl:h-fit p-1">
                                                        </div>
                                                        <span class="flex items-center w-full 2xl:w-auto">
                                                            {{scout_sk.name}}
                                                        </span>
                                                    </td>
                                                    <td class="border text-center">{{scout_sk.description}}</td>
                                                    <td class="border text-center">{{scout_sk.mana}}</td>
                                                    <td class="border text-center">{{scout_sk.cooldown}}</td>
                                                    <td class="border text-center">{{scout_sk.skill_point}}</td>
                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}

                                    {% if skill_type == 'Mstr' %}
                                        {% for mstr_sk in rogue_master %}
                                            {% if forloop.counter0|divisibleby:2  %}
                                                <tr class="border bg-[#262b30]">
                                                    <td class="flex">
                                                        <div class=" flex items-center 2xl:h-[50px] 2xl:w-[50px]">
                                                            <img src="{{mstr_sk.img.url}}" class="w-[25px] h-[25px] 2xl:w-fit 2xl:h-fit p-1" >
                                                        </div>
                                                        <span class="flex items-center w-full 2xl:w-auto">
                                                            {{mstr_sk.name}}
                                                        </span>
                                                    </td>
                                                    <td class="border text-center">{{mstr_sk.description}}</td>
                                                    <td class="border text-center">{{mstr_sk.mana}}</td>
                                                    <td class="border text-center">{{mstr_sk.cooldown}}</td>
                                                    <td class="border text-center">{{mstr_sk.skill_point}}</td>
                                                </tr>
                                            {% else %}
                                                <tr class="border bg-[#21262b]">
                                                    <td class="flex">
                                                        <div class=" flex items-center 2xl:h-[50px] 2xl:w-[50px]">
                                                            <img src="{{mstr_sk.img.url}}" class="w-[25px] h-[25px] 2xl:w-fit 2xl:h-fit p-1" >
                                                        </div>
                                                        <span class="flex items-center w-full 2xl:w-auto">
                                                            {{mstr_sk.name}}
                                                        </span>
                                                    </td>
                                                    <td class="border text-center">{{mstr_sk.description}}</td>
                                                    <td class="border text-center">{{mstr_sk.mana}}</td>
                                                    <td class="border text-center">{{mstr_sk.cooldown}}</td>
                                                    <td class="border text-center">{{mstr_sk.skill_point}}</td>
                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                    {% endfor %}        
                </div>
            </div>
        </div>
    </div>
{% endblock %}