{% load static tailwind_tags %}
<!doctype html>
<html lang="en" id="full">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <script src="https://kit.fontawesome.com/0a517b291a.js" crossorigin="anonymous"></script>
    {% tailwind_css %}
    <title>{% block title %} {% endblock %}</title>
</head>
<body class="flex flex-col h-full" style="background-image:url({% static 'background_photo.jpg' %});">    
    
    <div class="flex bg-zinc-800">
        <div class="w-full">
            <div class="flex py-1 justify-between
            2xl:py-2 2xl:justify-start 2xl:space-x-10">
                <div class="flex justify-start lg:w-0 lg:flex-1">
                    <a href="{% url 'index' %}">
                        <img class="h-5 mb-2 mt-2.5 ml-2
                        sm:mx-4
                        lg:mt-2 lg:h-7
                        xl:h-8" src="https://www.riseonlineworld.com/theme/default/assets/img/logo.png" alt="here should be logo">
                    </a>
                </div>
                <ul class="flex text-xs md:text-base 2xl:text-lg sm:mx-4 lg:mx-8 xl:mx-10 2xl:mx-12">
                    {% if user.is_authenticated %}
                        <span class="text-white">
                            Login: {{user.username}}
                        </span>
                        <span class="text-black align-center hover:text-white pl-2 pr-2">
                            <button class="bg-[#f8f9fa] hover:bg-slate-300 border-solid pl-1 pr-1" type="button" onclick="location.href='/logout';">
                                Logout
                            </button>
                        </span>
                    {% else %}
                        <a class="text-[#dbae28] py-2.5 px-2  hover:text-white" href="{% url 'login' %}">
                            Sign In
                        </a>
                        <a class="text-[#dbae28] py-2.5 px-2 hover:text-white" href="{% url 'signup' %}">
                            Sign Up
                        </a>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
    {% block body %}

    {% endblock %}
</body>
</html>