{% load static tailwind_tags %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    {% tailwind_css %}
    <script src="https://kit.fontawesome.com/0a517b291a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    
   
    <title>{% block title %} {% endblock %}</title>
</head>
<body class="flex flex-col gap-10 h-screen" style="background-image:url({% static 'background_photo.jpg' %});">
    
    
    <div class="flex bg-zinc-800">
        <div class="w-full">
            <div class="flex py-1 justify-between
            2xl:py-4 2xl:justify-start 2xl:space-x-10">
                <div class="flex justify-start lg:w-0 lg:flex-1 ">
                    <a href="{% url 'index' %}" >
                        <img class="h-4 mb-2 mt-2.5 ml-2
                        sm:ml-3 sm:h-5
                        md:h-6 md:ml-4
                        lg:ml-4 lg:mt-2  lg:h-7 
                        xl:ml-4 xl:h-8 xl:mb-2 xl:mt-2 " src="https://www.riseonlineworld.com/theme/default/assets/img/logo.png" alt="here should be logo">
                    </a>
                </div>
                <ul class="flex text-xs justify-center items-center">
                    {% if user.is_authenticated %}
                        <span class="text-white text-2xs
                        sm:text-xs
                        md:text-xs
                        lg:text-sm
                        xl:text-[16px]
                        2xl:text-base">Login: {{user.username}}</span>
                        <span class=" text-black align-center hover:text-sky-700 text-2xs pl-2 pr-2
                        sm:text-xs
                        md:text-xs
                        lg:text-sm
                        xl:text-[16px]
                        2xl:text-base 2xl:pl-4 2xl:pr-4"><button class="bg-[#f8f9fa] hover:bg-slate-300 border-solid pl-1 pr-1 
                        sm:text-2xs
                        md:pb-1 md:pt-1 md:text-xs
                        lg:pb-1
                        xl:pb-1 
                        2xl:pb-1  rounded-sm" type="button" onclick="location.href='/logout';">Logout</button></span>
                    {% else %}
                        <a class="text-sky-600 py-2.5 px-2  hover:text-sky-700 text-2xs sm:text-xs
                        md:text-xs
                        lg:text-sm
                        xl:text-[16px]
                        2xl:text-base" href=" {% url 'login' %}">Sign In</a>
                        <a class="text-sky-600 py-2.5 px-2 hover:text-sky-700 text-2xs sm:text-xs
                        md:text-xs
                        lg:text-sm
                        xl:text-[16px]
                        2xl:text-base" href="{% url 'signup' %}">Sign Up</a>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
    <section class="flex justify-center" aria-label="Newest Photos" >
        <div class="relative w-1/2 h-vh-2 md:h-vh-3 lg:h-vh-4 2xl:h-vh-5" data-carousel>
          <button class="carousel-button prev text-base left-1 md:left-2 md:text-[1.5rem] xl:text-[2.5rem] " data-carousel-button="prev"><i class="fa-solid fa-arrow-left"></i></button>
          <button class="carousel-button next text-base right-1 md:right-2 md:text-[1.5rem] xl:text-[2.5rem]" data-carousel-button="next"><i class="fa-solid fa-arrow-right"></i></button>
          <ul data-slides class="m-0 p-0 list-none">
            <li class="w-full h-full slide absolute inset-0 opacity-0 ease-in-out duration-300 delay-300" data-active>
              <img src="{% static 'rise.jpg' %}" alt="Nature Image #1" class="block w-full h-full object-fit object-center">
            </li>
            <li class="w-full h-full slide absolute inset-0 opacity-0 ease-in-out duration-300 delay-300">
              <img src="{% static 'rise1.jpg' %}" alt="Nature Image #2" class="block w-full h-full object-fit object-center">
            </li>
            <li class="w-full h-full slide absolute inset-0  opacity-0 ease-in-out duration-300 delay-300" >
              <img src="{% static 'rise2.jpg' %}" alt="Nature Image #3" class="block w-full h-full object-fit object-center">
            </li>
          </ul>
        </div>
    </section>
                
    <main class ="flex space-x-2 text-2xs
                sm:text-2xs sm:space-x-8 sm:mx-8 sm:mb-auto
                md:text-xs md:space-x-12 md:mx-8 md:mb-auto
                lg:text-sm lg:space-x-16 lg:mx-12 lg:mb-auto 
                xl:text-lg xl:space-x-24 xl:mx-16 xl:mb-auto 
                2xl:text-base">

<!--        left menu -->
        <div class="flex h-fit bg-zinc-800  ml-2 2xl:ml-10 text-justify">
            <div class="flex-col text-white sm:w-20 md:w-20 lg:w-24 2xl:w-24 m-0 text-center">
                {% for item in left_side_item %}
                    <div id ="{{item.name}}" class="nav_item" >
                            {% if item.name == 'News' %}
                                <div class="block p-2 hover:text-sky-600 cursor-pointer leftNavItem" onclick="location.href='/'; getUrl()" >{{item.name}}</div>
                            {% elif item.name == 'Skills' %} 
                                <div class="block p-2 hover:text-sky-600 cursor-pointer leftNavItem">{{item.name}}</div>
                                    <div class="pt-0 bg-neutral-800 w-full menuContent">
                                        <ul>
                                            <li class="hover:cursor-pointer pt-2 text-2xs 2xl:text-xs pb-1 hover:text-sky-500" onclick="location.href='/skills/warrior';">Warrior</li>
                                            <li class="hover:cursor-pointer pt-2 text-2xs 2xl:text-xs pb-1 hover:text-sky-500" onclick="location.href='/skills/mage';">Mage</li>
                                            <li class="hover:cursor-pointer pt-2 text-2xs 2xl:text-xs pb-1 hover:text-sky-500" onclick="location.href='/skills/priest';">Priest</li>
                                            <li class="hover:cursor-pointer pt-2 text-2xs 2xl:text-xs pb-1 hover:text-sky-500" onclick="location.href='/skills/rogue';">Rogue</li>
                                        </ul>
                                    </div>
                            {% elif item.name == 'Items' %}
                                <div class="block p-2 hover:text-sky-600 cursor-pointer leftNavItem ">{{item.name}}</div>
                                    <div class="pt-0 bg-neutral-800 w-full menuContent">
                                        <ul>
                                            <li class="hover:cursor-pointer pt-2 text-2xs 2xl:text-xs pb-1 hover:text-sky-500" onclick="location.href='/items/weapons';">Weapons</li>
                                            <li class="hover:cursor-pointer pt-2 text-2xs 2xl:text-xs pb-1 hover:text-sky-500" onclick="location.href='/items/armors';">Armors</li>
                                        </ul>
                                    </div>
                            {% else %}
                                <div class="block p-2 hover:text-sky-600 cursor-pointer leftNavItem" onclick="location.href='/{{item.name | lower}}';">{{item.name}}</div>
                            {% endif %}
                    </div>
                {% endfor %}
                {% if user.is_superuser %}
                <div>
                    <div class="block p-2 hover:text-sky-600 text-center cursor-pointer leftNavItem" onclick="location.href='/admin';">Admin</div> 
                </div>
                {% endif %}
            </div>
        </div>
        
    {% block body %}
    {% endblock %}
    <div class="flex-col me-2">

        <!--  first add-->
        <div class="flex w-16 h-24 bg-zinc-800 text-white 
                        sm:w-20 sm:h-28 
                        md:w-24 md:h-36
                        lg:h-48 lg:w-28
                        xl:h-48 xl:w-32
                        2xl:h-48 2xl:w-36">First add
        </div>

        <!-- second add -->
        <div class="flex w-16 bg-zinc-800 my-2 h-24 text-white 
                        sm:w-20 sm:h-28
                        md:w-24 md:h-36
                        lg:h-48 lg:w-28
                        xl:h-48 xl:w-32
                        2xl:h-48 2xl:w-36">Second add
        </div>
    </div>
</main>
    
        <footer class="flex flex-col mt-auto w-full bg-zinc-800
                        sm:text-xs 
                        md:text-xs
                        lg:text-sm
                        2xl:text-lg">
                
            <div class="flex justify-around h-full w-full ">
                <div class="flex flex-col items-center justify-center w-1/6">
                    <div class="flex flex-row ">
                        <i class="fa-solid fa-dice-d6 text-white text-sm md:text-base 2xl:text-[1.5rem] m-2"></i>
                        <i class="fa-solid fa-gamepad text-white text-sm md:text-base 2xl:text-[1.5rem] m-2 "></i>
                    </div>
                    <div class="flex flex-row">
                        <i class="fa-solid fa-headset text-white text-sm md:text-base 2xl:text-[1.5rem] mt-2 mr-2"></i>
                        <i class="fa-solid fa-ghost text-white text-sm md:text-base 2xl:text-[1.5rem] m-2"></i>
                    </div>
                </div>

                <div class="grid grid-flow-col text-white grid-cols-3 w-2/3">

                    <!--        first column-->

                            <div class="">
                                <h2 class="text-[12px] mt-2 mb-2 md:text-[16px] lg:text-[18px] 2xl:text-[24px]">Navigation</h2>
                                <ul class="mb-2 text-2xs">
                                    <!-- <li class=" sm:text-[9px] md:text-[10px] lg:text-[12px] 2xl:text-[14px] text-gray-400 "> -->
                                        <!-- <i class="fa-solid fa-newspaper text-white mr-2 active"></i><a href="{% url 'index' %}" class="hover:text-gray-300 cursor-pointer">News</a> -->
                                    <!-- </li> -->
                                    <li class=" sm:text-[9px] md:text-[10px] lg:text-[12px] 2xl:text-[14px] text-gray-400 ">
                                        <i class="fa-solid fa-scroll text-white mr-1.5"></i><a href="{% url 'quests' %}" class="hover:text-gray-300 cursor-pointer">Quests</a>
                                    </li>
                                    <li class=" sm:text-[9px] md:text-[10px] lg:text-[12px] 2xl:text-[14px] text-gray-400 ">
                                        <i class="fa-solid fa-wand-sparkles text-white mr-2"></i><a href="{% url 'weapons'%}" class="hover:text-gray-300 cursor-pointer">Weapons</a>
                                    </li>
                                    <li class=" sm:text-[9px] md:text-[10px] lg:text-[12px] 2xl:text-[14px] text-gray-400 ">
                                        <i class="fa-solid fa-ring text-white mr-2"></i><a href="{% url 'armors'%}" class="hover:text-gray-300 cursor-pointer">Armors</a>
                                    </li>
                                    <li class=" sm:text-[9px] md:text-[10px] lg:text-[12px] 2xl:text-[14px] text-gray-400 ">
                                        <i class="fa-solid fa-dungeon text-white mr-2"></i><a href="{% url 'zones' %}" class="hover:text-gray-300 cursor-pointer">Zones</a>
                                    </li>
                                </ul>
                            </div>
                    <!-- second column -->
                
                            <div class="">
                                <h2 class="text-[12px] mt-2 mb-2 md:text-[16px] lg:text-[18px] 2xl:text-[24px]">Logged</h2>
                                <ul class="mb-2 text-2xs">
                                    <li class="sm:text-[9px] md:text-[10px] lg:text-[12px] 2xl:text-[14px] text-gray-400  m-0 p-0">
                                        <i class="fa-solid fa-calculator text-white mr-3"></i><a href="{% url 'login'%}" class="hover:text-gray-300 cursor-pointer">Drop Calc</a>
                                    </li>
                                    <li class=" sm:text-[9px] md:text-[10px] lg:text-[12px] 2xl:text-[14px] text-gray-400 ">
                                        <i class="fa-solid fa-share text-white mr-2.5"></i><a href="{% url 'login'%}" class="hover:text-gray-300 cursor-pointer">Share Drop</a>
                                    </li>
                                    <li class=" sm:text-[9px] md:text-[10px] lg:text-[12px] 2xl:text-[14px] text-gray-400">
                                        <i class="fa-solid fa-user-group text-white mr-2 "></i><a href="{% url 'login'%}" class="hover:text-gray-300 cursor-pointer">Create Party</a>
                                    </li>
                                </ul>
                            </div>
                
                    <!-- third column -->
                        
                            <div class="">
                
                                <p class="text-[12px] mt-2 mb-2 md:text-[16px] lg:text-[18px] 2xl:text-[24px]">Contact</p>
                                <ul class="mb-2 text-2xs">
                                    <li class=" sm:text-[9px] md:text-[10px] lg:text-[12px] 2xl:text-[14px] text-gray-400">
                                        <!-- <i class="fa-solid fa-user-graduate text-white mr-2" ></i><a href="{% url 'index' %}" class="hover:text-gray-300 cursor-pointer">About me</a> -->
                                    </li>
                                    <li class=" sm:text-[9px] md:text-[10px] lg:text-[12px] 2xl:text-[14px] text-gray-400">
                                        <!-- <i class="fa-brands fa-facebook text-white mr-2"></i><a href="{% url 'index' %}" class="hover:text-gray-300 cursor-pointer">Facebook</a> -->
                                    </li>
                                    <li class=" sm:text-[9px] md:text-[10px] lg:text-[12px] 2xl:text-[14px] text-gray-400">
                                        <i class="fa-brands fa-linkedin text-white mr-2 "></i><a href="https://pl.linkedin.com/in/arkadiusz-tarnowski-142a20182" class="hover:text-gray-300 cursor-pointer">Linkedin</a>
                                    </li>
                                    <li class=" sm:text-[9px] md:text-[10px] lg:text-[12px] 2xl:text-[14px] text-gray-400 ">
                                        <i class="fa-brands fa-github text-white mr-2"></i><a href="https://github.com/xarekx" class="hover:text-gray-300 cursor-pointer">Github</a>
                                    </li>
                                </ul>
                            </div>
                            
                        </div>
                    </div>
            </div>
        
        <!-- <span class="flex text-white justify-end mr-3 mt-0.5">Created by Arkadiusz Tarnowski</span> -->
    </footer>
    <script src="{% static 'scripts.js' %}"></script>
<script type="text/javascript">
    let leftNav = document.getElementsByClassName("leftNavItem");
    let i; 
    
    for(i=0; i<leftNav.length; i++) {
        leftNav[i].addEventListener("click", function() { 
            this.classList.toggle("active");
            let content = this.nextElementSibling;
            if (this.classList.contains("active")) {
                content.style.display = "block";
                content.style.maxHeight = content.scrollHeight + "px";
                if (content.classList.contains("menuContent") != true) {
                    content.classList.add("menuContent");
                }
            } else {
                content.style.display = 'none';
                content.style.maxHeight = content.scrollHeight + "px";
            }  
        })
    }
</script>
</body>
</html>