{% extends 'base.html' %}
{% block title %} Rise Online World News {% endblock %}

{% block body %}
        <!-- content div -->
            <!-- title div-->
            {% for article in articles_page %}
                <div class="rounded-md">
                    <div class="bg-zinc-900 text-white pl-2 pr-2 py-1 shadow-inner border-[1px] md:pl-4 md:pr-3 xl:pl-6 xl:pr-6">
                        <b>{{article.title}}</b>
                    </div>

                    <!--  article div-->
                    <div class="relative bg-zinc-800 text-white rounded-b-sm text-2xs pl-2 pr-2 pt-1 sm:pt-2.5 md:text-xs md:pl-4 md:pr-3 xl:pl-6 xl:pt-3 xl:pr-3 2xl:text-base">
                        {{article.article | safe }}
                        <div class="flex justify-end">
                            <a href="articles/{{article.replace_space_and_dot_in_title}}" 
                            class="border p-0.5 mt-1 mr-5 sm:mr-4 sm:pr-1 sm:pl-1 md:p-1 md:mr-3 xl:mr-9 text-[#dbae28] hover:bg-[#907010] hover:text-[#ffffff]">
                                Read more
                            </a> 
                        </div>
                        <div class="flex justify-end text-[7px] mt-1 md:mr-3 xl:text-[10px] xl:pb-2 xl:mt-2 2xl:mr-8">
                            <div>Created: {{article.created_date | date:'Y-m-d'}}</div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="flex text-white pl-1 md:pl-3 pb-2">
                <span class="current justify-start w-full">
                    <b><span>Page</span>
                    {% if articles_page.has_previous %}
                        <a href="?page=1" class="text-white hover:text-[#dbae28] text-xs md:text-xl hover:cursor-pointer">&laquo; first</a>
                        <a href="?page={{articles_page.previous_page_number}}" class="text-white hover:text-[#dbae28] text-xs md:text-xl">{{ articles_page.previous_page_number }},</a>
                     {% endif %}

                    <span class="text-white hover:text-[#dbae28] text-xs md:text-xl">{{ articles_page.number }}</span>{% if articles_page.has_next %},{% endif%}

                    {% if articles_page.has_next %}        
                        <a href="?page={{articles_page.next_page_number}}" class="text-white hover:text-[#dbae28] text-xs md:text-xl">{{ articles_page.next_page_number }}</a>
                        {% if articles_page.next_page_number != articles_page.paginator.num_pages %}  
                            {{articles_page.paginator.ELLIPSIS}}
                            <a href="?page={{articles_page.paginator.num_pages}}" class="text-white hover:text-[#dbae28] text-xs md:text-xl">{{ articles_page.paginator.num_pages }}</a>
                        {% endif %}
                    {% endif %}
                    </b>
                </span>
            </div> 

        </div>
{% endblock %}