{% extends 'base-login.html' %}
{% block title %} Rise Online World Login {% endblock %}

{% block body %}

    <div class="flex h-full justify-center items-center">
            <div class="flex flex-col bg-zinc-800  mx-auto">
                <div class="w-full text-center mt-3 mb-2">
                        <h2 class="text-white text-2xs md:text-sm ">Sign In</h2>
                </div>
                <hr class="bg-white mt-1 md:mt-2">
                <div class="flex flex-col text-black mx-12 my-4">
                    <form method="post">
                        {% csrf_token %}
                        <label class="text-white mb-1 text-2xs md:text-xs">Username</label>
                        <input type="text" class="form-control text-2xs md:text-xs" name="username" placeholder="Username">
                        <label class="text-white mt-4 mb-1 text-2xs md:text-xs ">Password</label>
                        <input type="password" class="form-control text-2xs md:text-xs" name="password" placeholder="Password">
                        <div class="text-white mt-1 ">
                        {% if form.non_field_errors %}
                                <p class="text-2xs md:text-xs mt-2">Your login or password is incorrect</p>
                        {% endif %}
                        </div>

                        <div class="flex mt-4">
                        <button type="submit" class="btn text-white border-sky-600 hover:bg-sky-600  me-4 w-[6rem] text-2xs
                                    md:text-xs">Sign In</button>
                        <button class="btn text-white border-sky-600 hover:bg-sky-600 space-x-4 w-[6rem] text-2xs md:text-xs" 
                            onclick="location.href='/signup';" type="button">
                            <p>Sign Up</p>
                        </div>
                    </form>
                </div>
            </div>
    </div>

{% endblock %}