{% extends 'base-login.html' %}
{% block title %} Rise Online World Login {% endblock %}

{% block body %}

    <div class="flex h-full justify-center items-center">
            <div class="flex flex-col bg-zinc-900 mx-auto">
                <div class="w-full text-center mt-3 mb-2">
                        <h2 class="text-white text-2xs md:text-sm">Sign In</h2>
                </div>
                <hr class="mt-1 md:mt-2">
                <div class="flex flex-col text-black mx-12 my-4">
                    <form method="post">
                        {% csrf_token %}
                        <label class="flex text-white mb-1 text-2xs md:text-xs">Username</label>
                        <input type="text" class="flex form-control text-2xs md:text-xs w-full" name="username" placeholder="Username">
                        <label class="flex text-white mt-4 mb-1 text-2xs md:text-xs ">Password</label>
                        <input type="password" class="flex form-control text-2xs md:text-xs w-full" name="password" placeholder="Password">
                        <div class="text-white mt-1">
                        {% if form.non_field_errors %}
                                <p class="text-2xs md:text-xs mt-2">Your login or password is incorrect</p>
                        {% endif %}
                        </div>

                        <div class="flex mt-4">
                            <button 
                            class="rounded-lg bg-[#dbae28] text-white hover:text-black mr-4 w-[6rem] text-xs h-8"
                            type="submit">
                                <p>Sign In</p>
                            </button>
                            
                            <button 
                            class="rounded-lg bg-[#dbae28] text-white hover:text-black mr-4 w-[6rem] text-xs h-8" 
                            type="button"    
                            onclick="location.href='/signup';">
                                <p>Sign Up</p>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
    </div>

{% endblock %}