{% extends 'base-login.html' %}
{% block title %} Rise Online World Login {% endblock %}

{% block body %}
<div class="flex h-full justify-center items-center">
    <div class="flex flex-col bg-zinc-800 mx-auto">
        <div class="flex h-10 justify-center items-center my-auto">
                <h2 class="text-white text-2xs md:text-xs">Sign Up</h2>
        </div>
        <hr class="mb-2">
        <div class="flex flex-col text-black mx-12 my-4" >
            <form method="POST" class="w-full">
                {% csrf_token %}
                <label class="flex text-white mb-1 w-full text-2xs md:text-xs ">Username</label>
                <div class="form-group">
                    <input type="text" placeholder="Username" name="username" class="form-control text-2xs md:text-xs h-8 md:w-72 w-full">
                </div>

                <label class="text-white mb-1 text-2xs md:text-xs">Email</label>
                <div class="form-group">
                    <input type="email" placeholder="Email" name="email" class="form-control text-2xs md:text-xs h-8 md:w-72 w-full">
                </div>

                <label class="text-white mb-1 text-2xs md:text-xs">Password</label>
                <div class="form-group">
                    <input type="password" placeholder="Password" name="password1" class="form-control text-2xs md:text-xs h-8 md:w-72 w-full">
                </div>

                <label class="text-white mb-1 text-2xs md:text-xs">Repeat Password</label>
                <div class="form-group">
                    <input type="password" placeholder="Repeat password" name="password2" class="form-control text-2xs md:text-xs h-8 md:w-72 w-full">
                </div>

                <div class="flex mt-4">
                    <button 
                    class="rounded-lg bg-[#dbae28] text-white hover:text-black mr-4 w-[6rem] h-8 text-xs"
                    type="submit">
                        <p>Sign Up</p>
                    </button>

                    <button 
                    class="rounded-lg bg-[#dbae28] text-white hover:text-black mr-4 w-[6rem] h-8 text-xs" 
                    type="button" 
                    onclick="location.href='/login';"> 
                        <p>Sign In</p>
                    </button>
                </div>
                <div class="text-white mt-2 text-2xs md:text-xs mb-2 w">
                    {% if form.errors %}
                        {% for field in form %}
                            {% for error in field.errors %}
                                {% if error == 'This password is too short. It must contain at least 8 characters.'%}
                                <span>Password must contain at least 8 characters<br></span>
                                {% elif error == 'The password is too similar to the username.'%}
                                <span>The password is too similar to the username.<br></span>
                                {% elif error == 'This password is too common.'%}
                                <span>This password is too common.<br></span>
                                {% else %}
                                    {% if error == 'This field is required.'%}
                                    <span>{{field.label}} field is required.<br></span>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}