{% extends 'base.html' %}
{% block title %}Rise Online Contact{% endblock %}

{% block body %}
    <!--    content div -->
    <div class="flex flex-col w-full space-y-5 justify-center ">

        
                    
                    <div class="flex bg-zinc-800 w-full h-1/5 text-white justify-center p-4">
                        <h1><b>If you want to be a part of creator of this site. Contact with me by the form</b></h1>
                        
                    </div>
        
                    

                    <div class="flex flex-col bg-zinc-800 w-full h-fit text-white justify-center items-center p-4">
                        <p class="flex flex-col text-xl"> Contact Form </p>
                        
                    <div class="flex flex-col w-1/2 text-black">
                            <form method="post" class="flex flex-col w-full">
                                {% csrf_token %}
                                {% for field in form %}
                                    <div class="text-white">
                                        {{field.label_tag}}
                                    </div>
                                    <div class="flex flex-col mb-2 mt-2 w-full 2xl:pb-4">
                                        {% if field.name == "msg_description" %} 
                                            <div class="flex 2xl:h-28 text-black mb-1 h-24">
                                                {{field}}
                                            </div>
                                        {% else %}
                                        <div>
                                            {{field}}
                                        </div>
                                        {% endif %}
                                    </div>
                                {% endfor %}
                                <input type="submit" class="text-white border rounded-xl hover:bg-sky-500 cursor-pointer" value="Send">
                            </form>
                        </div>
                    </div>
                    
        
                </div>
    
{% endblock %}