{% extends 'base.html' %}
{% block title %}Rise Online Monsters{% endblock %}

{% block body %}
        <!-- content div -->
        <div class="flex flex-col h-fit bg-[#191D21] w-full">
            <div class="flex flex-col w-full h-full 2xl:ps-5 2xl:pe-5 ps-3 pe-3">
                <div class="flex flex-col h-fit w-full pb-4" >
                        
                    <!-- title div -->
                    <div class="flex w-full pt-2 pb-2">
                            <div class="text-2xl mx-auto text-[#dbae28]">Monster Table</div>
                    </div>
                    
                    <!-- Monster table  -->
                    <div class="pl-2 pr-2">
                        <table class="table-auto text-white flex-col w-full">
                            <thead class="border-1 text-center bg-[#191D21]">
                                <tr>
                                    <th class="border w-1/6">Skill Name</th>
                                    <th class="border w-1/6">Level</th>
                                    <th class="border w-1/6">Zone</th>
                                    <th class="border w-1/2">Drop List</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for monster in monsters %}
                                    {% if forloop.counter0|divisibleby:2  %}
                                    <tr class="border h-full bg-[#262b30]">
                                        <td class="flex pl-2">
                                            <span class="flex items-center w-full 2xl:w-auto">
                                                {{monster.name}}
                                            </span>
                                        </td>
                                        <td class="border-l border-r text-center">{{monster.level}}</td>
                                        <td class="border-r text-center">{{monster.zone_mob}}</td>
                                        <td class="border-r p-1">
                                            {% for item in items %} 
                                                {% if monster.id == item.dropped_by_id %}
                                                    {{item.name}},
                                                {% endif %}
                                            {% endfor %}
                                        </td>
                                    </tr>
                                    {% else %}
                                    <tr class="border h-full bg-[#21262b]">
                                        <td class="flex pl-2">
                                            <span class="flex items-center w-full 2xl:w-auto">
                                                {{monster.name}}
                                            </span>
                                        </td>
                                        <td class="border-l border-r text-center">{{monster.level}}</td>
                                        <td class="border-r text-center">{{monster.zone_mob}}</td>
                                        <td class="border-r p-1">
                                            {% for item in items %} 
                                                {% if monster.id == item.dropped_by_id %}
                                                    {{item.name}},
                                                {% endif %}
                                            {% endfor %}
                                        </td>
                                    </tr>
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>           
                </div>
            </div>
        </div>
    </div>
{% endblock %}