{% extends 'base.html' %}
{% block title %} Rise Online World Login {% endblock %}

{% block body %}
<div class="flex flex-col h-fit justify-between">
  <!-- Navbar content -->

    <header>
            <!--   Rise online World     -->
    </header>



    <!--    main content div -->
    <main class ="flex space-x-2 text-2xs
    sm:text-2xs sm:space-x-8 sm:mx-8 sm:mb-auto
    md:text-xs md:space-x-12 md:mx-8 md:mb-auto
    lg:text-sm lg:space-x-16 lg:mx-12 lg:mb-auto 
    xl:text-lg xl:space-x-24 xl:mx-16 xl:mb-auto 
    2xl:text-base">

    <!--        left menu -->
        <div class="flex h-fit bg-zinc-800  ml-2 2xl:ml-10 text-justify">
            <div class="flex-col text-white sm:w-20 md:w-20 lg:w-24 2xl:w-24 m-0 text-center">
                {% for item in left_side_item %}
                    <div id ="{{item.name}}" class="nav_item" >
                            {% if item.name == 'News' %}
                                <div class="block p-2 hover:text-sky-600 cursor-pointer leftNavItem" onclick="location.href='/';">{{item.name}}</div>
                            {% elif item.name == 'Skills' %} 
                            <div class="block p-2 hover:text-sky-600 cursor-pointer leftNavItem" >{{item.name}}</div>
                                <div class="pt-0 hidden bg-neutral-800 w-full">
                                    <ul class="">
                                        <li class="hover:cursor-pointer pt-2 text-2xs 2xl:text-xs pb-1 hover:text-sky-500" onclick="location.href='/skills/warrior';">Warrior</li>
                                        <li class="hover:cursor-pointer pt-2 text-2xs 2xl:text-xs pb-1 hover:text-sky-500" onclick="location.href='/skills/mage';">Mage</li>
                                        <li class="hover:cursor-pointer pt-2 text-2xs 2xl:text-xs pb-1 hover:text-sky-500" onclick="location.href='/skills/priest';">Priest</li>
                                        <li class="hover:cursor-pointer pt-2 text-2xs 2xl:text-xs pb-1 hover:text-sky-500" onclick="location.href='/skills/rogue';">Rogue</li>
                                    </ul>
                                </div>    
                            {% else %}
                                <div class="block p-2 hover:text-sky-600 cursor-pointer leftNavItem" onclick="location.href='/{{item.name | lower}}';">{{item.name}}</div>
                            {% endif %}
                    </div>
                {% endfor %}
                {% if user.is_authenticated %}
                <div>
                    <div class="block p-2 hover:text-sky-600 text-center cursor-pointer leftNavItem" onclick="location.href='/admin';">Admin</div> 
                </div>
                {% endif %}
            </div>
        </div>

    <!--    content div -->
        <div class="flex flex-col h-fit bg-[#191D21] w-screen">
            <div class="flex flex-col w-full h-full 2xl:ps-5 2xl:pe-5 ps-3 pe-3">

                <div class="flex flex-col h-fit w-full pb-4 " >
                        
                    <!-- title div -->
                    <div class="flex w-full pt-2 pb-2">
                            <div class="text-2xl mx-auto text-[#dbae28]">Monster Table</div>
                    </div>
                    
                    <!-- Monster table  -->
                    <div class="pl-2 pr-2">
                        <table class="table-auto text-white  flex-col w-full">
                            <thead class="border-1 text-center">
                                <tr>
                                    <th class="border-1 w-1/6">Skill Name</th>
                                    <th class="border-1 w-1/6">Level</th>
                                    <th class="border-1 w-1/6">Zone</th>
                                    <th class="border-1 w-1/2">Drop List</th>
                                </tr>
                            </thead>
                            <tbody class="">
                                {% for monster in monsters %}
                                <tr class="border h-full ">
                                    <td class="flex pl-2">
                                        <span class="flex items-center w-full 2xl:w-auto">
                                            {{monster.name}}
                                        </span>
                                    </td>
                                    <td class="border-l border-r text-center">{{monster.level}}</td>
                                    <td class="border-r text-center">{{monster.zone_mob}}</td>
                                    <td class="border-r p-1">
                                        {% for item in items %} 
                                            {% if monster.id == item.dropped_by_id %}
                                                {{item.name}},
                                            {% endif %}
                                        {% endfor %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>           
                </div>
            </div>
        </div>

        <!-- right adds -->
        <div class="flex-col me-2">

            <!--  first add-->
            <div class="flex w-16 h-24 bg-zinc-800 text-white 
                            sm:w-20 sm:h-28 
                            md:w-24 md:h-36
                            lg:h-48 lg:w-28
                            xl:h-48 xl:w-32
                            2xl:h-48 2xl:w-36">First add
            </div>

            <!-- second add -->
            <div class="flex w-16 bg-zinc-800 my-2 h-24 text-white 
                            sm:w-20 sm:h-28
                            md:w-24 md:h-36
                            lg:h-48 lg:w-28
                            xl:h-48 xl:w-32
                            2xl:h-48 2xl:w-36">Second add
            </div>
        </div>
    </main>


</div>

{% endblock %}