{% extends 'base.html' %}
{% block title %} Rise Online Quest {% endblock %}
{% block body %}
<script src="{% static 'scripts.js' %}"></script>
    <div class="flex min-h-screen w-full">
    <!-- content div -->
        <div class="flex flex-col h-fit bg-[#191D21] w-full">
            <span class="text-[#dbae28] text-2xl text-center mt-2 "><strong>Quest Table</strong></span>
            <table id="questTable" class="table-auto text-white m-3">
                <thead>
                    <tr>
                        <th class="border text-center p-3 hover:cursor-pointer hover:text-sky-700">Title
                            <i class="fas fa-sort" id="sortTitle"></i>
                        </th>
                        <th class="border text-center p-3 hover:cursor-pointer hover:text-sky-700" data-type="number">Level
                            <i class="fas fa-sort p-1" id="sortLevel"></i>
                        </th>
                        <th class="border text-center p-3">Description</th>
                        <th class="border text-center p-3">Rewards</th>
                        <th class="border text-center p-3 hover:cursor-pointer hover:text-sky-700">Zone
                            <i class="fas fa-sort" id="sortZone"></i>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for quest in quests %}
                        <tr>
                            <td class="border text-center">{{quest.quest_name}}</td>
                            <td class="border text-center">{{quest.required_level}}</td>
                            <td class="border">{{quest.description}}</td>
                            <td class="border text-center">
                                {% for reward in rewards %}
                                    {% if quest.id == reward.quests_id %} 
                                        {% if reward.count and reward.reward_type != 'exp' and reward.reward_type != 'other' %}
                                            {{reward.count}}x
                                        {% else %}
                                            {{reward.count}}    
                                        {% endif %}
                                        {{reward.name}}
                                        <br/>
                                        {% if reward.upgrade_level != 0%}
                                            (+{{reward.upgrade_level}})
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <td class="border text-center">{{quest.quest_zone}}</td>
                        </tr>
                    {% endfor %}
                </tbody> 
            </table>
            <!-- <div class="flex text-white pl-3 pb-2">
                <span class="current justify-start w-full">
                    Page 
                    {% if quests.has_previous %}
                        <a href="?page=1" class="hover:text-gray-400">&laquo; first</a>
                        <a href="?page={{quests.previous_page_number}}" class="hover:text-gray-400">{{ quests.previous_page_number }},</a>
                     {% endif %}

                    <span class="text-gray-600">{{ quests.number }}</span>{% if quests.has_next %},{% endif%}

                    {% if quests.has_next %}        
                        <a href="?page={{quests.next_page_number}}" class="hover:text-gray-400">{{ quests.next_page_number }}</a>
                        {% if quests.next_page_number != quests.paginator.num_pages %}  
                            {{quests.paginator.ELLIPSIS}}
                            <a href="?page={{quests.paginator.num_pages}}" class="hover:text-gray-400">{{ quests.paginator.num_pages }}</a>
                        {% endif %}
                    {% endif %}
                </span>
            </div>  -->
        </div>
    </div>


<script type="text/javascript"> 

    const table = document.getElementById('questTable');
    const sortLevel = document.getElementById('sortLevel');
    const sortZone = document.getElementById('sortZone');
    const sortTitle = document.getElementById('sortTitle');
    // Query the headers

    const headers = table.querySelectorAll('th');

    // Loop over the headers

    [].forEach.call(headers, function (header, index) {
        
        if(header.innerHTML != 'Rewards' || header.innerHTML != 'Description') {
            header.addEventListener('click', function () {
            // This function will sort the column
            sortColumn(index);
            });
        }
    });

    const tableBody = table.querySelector('tbody');
    const rows = tableBody.querySelectorAll('tr');

   const sortColumn = function (index) {

        // Get the current direction
        const direction = directions[index] || 'asc';

        

        // A factor based on the direction
        const multiplier = (direction === 'asc') ? 1 : -1;

        
        if(index != 0) {
            sortTitle.className = ''
            sortTitle.innerHTML = '<i class="fa-solid fa-sort"></i>';
        } else {
            if(direction === 'asc') {
                sortTitle.className = ''
                sortTitle.innerHTML = '<i class="fa-solid fa-sort-up"></i>'
            } else if (direction === 'desc') {
                sortTitle.className = ''
                sortTitle.innerHTML = '<i class="fa-solid fa-sort-down"></i>';
            }
        }

        if(index != 1) {
            sortLevel.className = ''
            sortLevel.innerHTML = '<i class="fa-solid fa-sort p-1"></i>';
        } else {
            if(direction == 'asc') {
                sortLevel.className = ''
                sortLevel.innerHTML = '<i class="fa-solid fa-sort-up p-1"></i>';
            } else if (direction === 'desc') {
                sortLevel.className = ''
                sortLevel.innerHTML = '<i class="fa-solid fa-sort-down p-1"></i>';
            }
        }

        if(index != 4) {
            sortZone.className = ''
            sortZone.innerHTML = '<i class="fa-solid fa-sort"></i>';
        } else {
            if(direction == 'asc') {
                sortZone.className = ''
                sortZone.innerHTML = '<i class="fa-solid fa-sort-up"></i>';
            } else if (direction === 'desc') {
                sortZone.className = ''
                sortZone.innerHTML = '<i class="fa-solid fa-sort-down"></i>';
            }
        }
    
        // Clone the rows
        const newRows = Array.from(rows);

        // Sort rows by the content of cells
        newRows.sort(function (rowA, rowB) {

        // Get the content of cells
        const cellA = rowA.querySelectorAll('td')[index].innerHTML;
        const cellB = rowB.querySelectorAll('td')[index].innerHTML;

        // Transform the content of cells
        const a = transform(index, cellA);
        const b = transform(index, cellB);

        // And compare them
        switch (true) {
            case a > b: return 1 * multiplier;
            case a < b: return -1 * multiplier;
            case a === b: return 0;
        }
   });

    // Remove old rows
    [].forEach.call(rows, function (row) {
        tableBody.removeChild(row);
    });

    // Append new row
    newRows.forEach(function (newRow) {
        tableBody.appendChild(newRow);
    });

    directions[index] = direction === 'asc' ? 'desc' : 'asc';
};
    const directions = Array.from(headers).map(function (header) {
        return '';
    });

    const transform = function (index, content) {
        // Get the data type of column
        const type = headers[index].getAttribute('data-type');
        switch (type) {
            case 'number':
                return parseFloat(content);
            case 'string':
            default:
                return content;
        }
};

</script>
{% endblock %}