{% extends 'base.html' %}
{% block title %} Rise Online Quest {% endblock %}
{% block body %}
<script src="../static/scripts.js"></script>
    <div class="flex min-h-screen">
    <!-- content div -->
        <div class="flex flex-col h-fit bg-[#191D21] w-fit">
            <span class="text-[#dbae28] text-2xl text-center mt-2 "><strong>Quest Table</strong></span>
            <table id="questTable" class="table-auto text-white m-3">
                <thead>
                    <tr>
                        <th class="border text-center pl-4 pr-4 hover:cursor-pointer hover:text-sky-700">Title</th>
                        <th class="border text-center pl-4 pr-4 hover:cursor-pointer hover:text-sky-700" data-type="number">Lvl</th>
                        <th class="border text-center pl-4 pr-4 hover:cursor-pointer hover:text-sky-700">Description</th>
                        <th class="border text-center pl-4 pr-4 hover:cursor-pointer hover:text-sky-700">Rewards</th>
                        <th class="border text-center pl-4 pr-4 hover:cursor-pointer hover:text-sky-700">Zone</th>
                    </tr>
                </thead>
                <tbody>
                    {% for quest in quests %}
                        <tr>
                            <td class="border text-center">{{quest.quest_name}}</td>
                            <td class="border text-center">{{quest.required_level}}</td>
                            <td class="border">{{quest.description}}</td>
                            <td class="border text-center">
                                {% for reward in rewards %}
                                    {% if quest.id == reward.quests_id %} 
                                        {% if reward.count and reward.reward_type != 'exp' and reward.reward_type != 'other' %}
                                            {{reward.count}}x
                                        {% else %}
                                            {{reward.count}}    
                                        {% endif %}
                                        {{reward.name}}
                                        <br/>
                                        {% if reward.upgrade_level != 0%}
                                            (+{{reward.upgrade_level}})
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <td class="border text-center">{{quest.quest_zone}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>



<script type="text/javascript">
    const table = document.getElementById('questTable');

    // Query the headers

    const headers = table.querySelectorAll('th');

    // Loop over the headers

    [].forEach.call(headers, function (header, index) {
        header.addEventListener('click', function () {
        // This function will sort the column

        sortColumn(index);
        });
    });

    const tableBody = table.querySelector('tbody');
    const rows = tableBody.querySelectorAll('tr');

   const sortColumn = function (index) {

        // Get the current direction
        const direction = directions[index] || 'asc';

        // A factor based on the direction
        const multiplier = (direction === 'asc') ? 1 : -1;

        // Clone the rows
        const newRows = Array.from(rows);

        // Sort rows by the content of cells
        newRows.sort(function (rowA, rowB) {

        // Get the content of cells
        const cellA = rowA.querySelectorAll('td')[index].innerHTML;
        const cellB = rowB.querySelectorAll('td')[index].innerHTML;

        // Transform the content of cells
        const a = transform(index, cellA);
        const b = transform(index, cellB);

        // And compare them
        switch (true) {
            case a > b: return 1 * multiplier;
            case a < b: return -1 * multiplier;
            case a === b: return 0;
        }
   });

    // Remove old rows
    [].forEach.call(rows, function (row) {
        tableBody.removeChild(row);
    });

    // Append new row
    newRows.forEach(function (newRow) {
        tableBody.appendChild(newRow);
    });

    directions[index] = direction === 'asc' ? 'desc' : 'asc';
};
    const directions = Array.from(headers).map(function (header) {
        return '';
    });

    const transform = function (index, content) {
        // Get the data type of column
        const type = headers[index].getAttribute('data-type');
        switch (type) {
            case 'number':
                return parseFloat(content);
            case 'string':
            default:
                return content;
        }
};

</script>
{% endblock %}