{% extends 'base.html' %}
{% load static %}
{% block title %} Rise Online Quest {% endblock %}
{% block body %}
<script src="{% static 'scripts.js' %}"></script>
    <div class="flex min-h-screen w-full">
    <!-- content div -->
        <div class="flex flex-col h-fit bg-[#191D21] w-full">
            <span class="text-[#dbae28] text-lg md:text-2xl text-center mt-2 "><strong>Quest Table</strong></span>
            <table class="table-auto text-white m-1 md:m-3 ">
                <thead>
                    <tr>
                        <th class="border text-center p-1 md:p-3 hover:cursor-pointer hover:text-sky-700 w-3/12!">
                            {% if direction == 'asc' and order_by == 'quest_name' %} 
                                <a href="?order_by=quest_name&direction=desc">Title<i class="fa-solid fa-sort-up p-1"></i></a>
                            {% elif direction == 'desc' and order_by == 'quest_name' %}
                                <a href="?order_by=quest_name&direction=asc">Title<i class="fa-solid fa-sort-down p-1"></i></a>
                            {% else %} 
                                <a href="?order_by=quest_name&direction=asc">Title<i class="fa-solid fa-sort p-1"></i></a>
                            {% endif %}
                        </th>
                        <th class="border text-center p-1 md:p-3 hover:cursor-pointer hover:text-sky-700 w-1/12!" data-type="number">
                            {% if direction == 'asc' and order_by == 'required_level' %} 
                                <a href="?order_by=required_level&direction=desc">Level<i class="fa-solid fa-sort-up p-1"></i></a>
                            {% elif direction == 'desc' and order_by == 'required_level' %}
                                <a href="?order_by=required_level&direction=asc">Level<i class="fa-solid fa-sort-down p-1"></i></a>
                            {% else %} 
                                <a href="?order_by=required_level&direction=asc">Level<i class="fa-solid fa-sort p-1"></i></a>
                            {% endif %}
                        </th>
                        <th class="border text-center p-1 md:p-3 w-4/12">Description</th>
                        <th class="border text-center p-1 md:p-3 w-3/12">Rewards</th>
                        <th class="border text-center p-1 md:p-3 hover:cursor-pointer hover:text-sky-700 w-1/12">
                            {% if direction == 'asc' and order_by == 'quest_zone' %} 
                                <a href="?order_by=quest_zone&direction=desc">Zone<i class="fa-solid fa-sort-up p-1"></i></a>
                            {% elif direction == 'desc' and order_by == 'quest_zone' %}
                                <a href="?order_by=quest_zone&direction=asc">Zone<i class="fa-solid fa-sort-down p-1"></i></a>
                            {% else %} 
                                <a href="?order_by=quest_zone&direction=asc">Zone<i class="fa-solid fa-sort p-1"></i></a>
                            {% endif %}
                        </th>
                    </tr>
                </thead>

                <tbody>
                    {% for quest in quests %}
                        <tr>
                            <td class="border text-center">{{quest.quest_name}}</td>
                            <td class="border text-center">{{quest.required_level}}</td>
                            <td class="border">{{quest.description}}</td>
                            <td class="border text-center">
                                {% for reward in rewards %}
                                    {% if quest.id == reward.quests_id %} 
                                        {% if reward.count and reward.reward_type != 'exp' and reward.reward_type != 'other' %}
                                            {{reward.count}}x
                                        {% else %}
                                            {{reward.count}}    
                                        {% endif %}
                                        {{reward.name}}
                                        <br/>
                                        {% if reward.upgrade_level != 0%}
                                            (+{{reward.upgrade_level}})
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <td class="border text-center">{{quest.quest_zone}}</td>
                        </tr>
                    {% endfor %}
                </tbody> 
            </table>
            <div class="flex text-white pl-1 md:pl-3 pb-2">
                <span class="current justify-start w-full">
                    Page 
                    {% if quests.has_previous %}
                        <a href="?page=1&order_by={{order_by}}&direction={{direction}}" class="hover:text-gray-400">&laquo; first</a>
                        <a href="?page={{quests.previous_page_number}}&order_by={{order_by}}&direction={{direction}}" class="hover:text-gray-400">{{ quests.previous_page_number }},</a>
                     {% endif %}

                    <span class="text-gray-600">{{ quests.number }}</span>{% if quests.has_next %},{% endif%}

                    {% if quests.has_next %}        
                        <a href="?page={{quests.next_page_number}}&order_by={{order_by}}&direction={{direction}}" class="hover:text-gray-400">{{ quests.next_page_number }}</a>
                        {% if quests.next_page_number != quests.paginator.num_pages %}  
                            {{quests.paginator.ELLIPSIS}}
                            <a href="?page={{quests.paginator.num_pages}}&order_by={{order_by}}&direction={{direction}}" class="hover:text-gray-400">{{ quests.paginator.num_pages }}</a>
                        {% endif %}
                    {% endif %}
                </span>
            </div> 
        </div>
    </div>

{% endblock %}