{% extends 'base.html' %}
{% block title %}Rise Online Zones{% endblock %}

{% block body %}
<!-- content div -->
    <div class="flex flex-col h-fit bg-[#191D21] w-fit pb-2">
        <span class="text-[#dbae28] text-2xl text-center mt-2">
            <strong>Zones</strong>
        </span>
        <div class="zoneCard flex text-white flex-wrap justify-center">
            {% for zone in all_zones %}
                <div class="flex flex-col text-center mt-4 ml-4 mr-4 mb-2 hover:scale-110 hover:cursor-pointer hover:ease-in hover:duration-200" 
                id="{{zone.name | lower}}" onclick="navigateToZone(this.id)">
                    <div class="pb-2">
                        <strong>{{ zone.name }}</strong>
                    </div>
                    <img src="{{zone.img.url}}">
                </div>
            {% endfor %}
        </div>
    </div>
<script>
function navigateToZone(ids) {
    const zone = document.getElementById(ids);
    console.log(ids);
    switch(ids) {
        case "dorion":
            location.href="/zones/dorion"
            break;
        case "lunaskar kingdom":
            location.href="/zones/lunaskar"
            break;
        case "protean kingdom":
            location.href="/zones/protean"
            break;
        case "haggar castle":
            location.href="/zones/haggar"
            break;
        case "haddar castle":
            location.href="/zones/haddar"
            break;
        case "death valley":
            location.href="/zones/death_valley"
            break;
        case "narun tower":
            location.href="/zones/narun_tower"
            break;
    }
}
   
</script>
{% endblock %}