{% extends 'base.html' %}
{% block title %} Rise Online World Login {% endblock %}

{% block body %}
<div class="flex flex-col h-fit justify-between">
  <!-- Navbar content -->

    <header>
            <!--   Rise online World     -->
    </header>



    <!--    main content div -->
    <main class ="flex space-x-2 text-2xs
    sm:text-2xs sm:space-x-8 sm:mx-8 sm:mb-auto
    md:text-xs md:space-x-12 md:mx-8 md:mb-auto
    lg:text-sm lg:space-x-16 lg:mx-12 lg:mb-auto 
    xl:text-lg xl:space-x-24 xl:mx-16 xl:mb-auto 
    2xl:text-base">

    <!--        left menu -->
        <div class="flex h-fit bg-zinc-800  ml-2 2xl:ml-10 text-justify">
            <div class="flex-col text-white sm:w-20 md:w-20 lg:w-24 2xl:w-24 m-0 text-center">
                {% for item in left_side_item %}
                    <div id ="{{item.name}}" class="nav_item" >
                            {% if item.name == 'News' %}
                                <div class="block p-2 hover:text-sky-600 cursor-pointer leftNavItem" onclick="location.href='/';">{{item.name}}</div>
                            {% elif item.name == 'Skills' %} 
                            <div class="block p-2 hover:text-sky-600 cursor-pointer leftNavItem" >{{item.name}}</div>
                                <div class="pt-0 hidden bg-neutral-800 w-full">
                                    <ul class="">
                                        <li class="hover:cursor-pointer pt-2 text-2xs 2xl:text-xs pb-1 hover:text-sky-500" onclick="location.href='/skills/warrior';">Warrior</li>
                                        <li class="hover:cursor-pointer pt-2 text-2xs 2xl:text-xs pb-1 hover:text-sky-500" onclick="location.href='/skills/mage';">Mage</li>
                                        <li class="hover:cursor-pointer pt-2 text-2xs 2xl:text-xs pb-1 hover:text-sky-500" onclick="location.href='/skills/priest';">Priest</li>
                                        <li class="hover:cursor-pointer pt-2 text-2xs 2xl:text-xs pb-1 hover:text-sky-500" onclick="location.href='/skills/rogue';">Rogue</li>
                                    </ul>
                                </div>    
                            {% else %}
                                <div class="block p-2 hover:text-sky-600 cursor-pointer leftNavItem" onclick="location.href='/{{item.name | lower}}';">{{item.name}}</div>
                            {% endif %}
                    </div>
                {% endfor %}
                {% if user.is_authenticated %}
                <div>
                    <div class="block p-2 hover:text-sky-600 text-center cursor-pointer leftNavItem" onclick="location.href='/admin';">Admin</div> 
                </div>
                {% endif %}
            </div>
        </div>
        <!--    content div -->
        <div class="flex flex-col h-fit bg-zinc-800 
        lg:w-fit 
        xl:w-fit
        2xl:w-screen pb-2">
        <!--            title div-->

            <span class="w-full text-white text-center pt-2"><strong>Haggar Castle</strong></span>
            <div class="text-white text-center mt-4">
                <span>Haggar Castle is second fraction zone.
                    Haggar Castle belong to Orc's Fraction. You can get to the Haggar Castle when you reach 60 level of your character.
                    You are able to reach to this zone by teleport.
                    This zone will let you efficently level up your character to max level. Monsters are stronger than in Dorion or Protean. 
                    Be careful adventures.
                </span>
            </div>
        </div>

        <!-- right adds -->
        <div class="flex-col me-2">

            <!--  first add-->
            <div class="flex w-16 h-24 bg-zinc-800 text-white 
                            sm:w-20 sm:h-28 
                            md:w-24 md:h-36
                            lg:h-48 lg:w-28
                            xl:h-48 xl:w-32
                            2xl:h-48 2xl:w-36">First add
            </div>

            <!-- second add -->
            <div class="flex w-16 bg-zinc-800  my-2 h-24  text-white 
                            sm:w-20 sm:h-28
                            md:w-24 md:h-36
                            lg:h-48 lg:w-28
                            xl:h-48 xl:w-32
                            2xl:h-48 2xl:w-36">Second add
            </div>
        </div>
    </main>


</div>

{% endblock %}