{% extends 'base.html' %}
{% block title %}Rise Online Haggar{% endblock %}

{% block body %}
    <!-- content div -->
    <div class="flex flex-col h-fit bg-zinc-800 w-fit pb-2 text-white">
        <span class="w-full text-center pt-2">
            <strong>Haggar Castle</strong>
        </span>
        <div class="text-center mt-4">
            <span>Haggar Castle is second fraction zone.
                Haggar Castle belong to Orc's Fraction. You can get to the Haggar Castle when you reach 60 level of your character.
                You are able to reach to this zone by teleport.
                This zone will let you efficently level up your character to max level. Monsters are stronger than in Dorion or Protean. 
                Be careful adventures.
            </span>
        </div>
    </div>
{% endblock %}