{% extends 'base.html' %}
{% block title %} Rise Online World Login {% endblock %}

{% block body %}
    <!-- content div -->
    <div class="flex flex-col h-fit bg-zinc-800 w-fit pb-2 text-white">
        <span class="w-full text-center pt-2">
            <strong>Narun Tower</strong>
        </span>
        <div class="text-center mt-4">
            <span>Narun Tower is a tower where you can find many different monsters. Zone is available to proteans and lunaskars. 
                Zone is open pvp but you are not earning battle points for kills.
                Be careful adventures.
            </span>
        </div>
    </div>
{% endblock %}