{% extends 'base.html' %}
{% block title %} Rise Online World Login {% endblock %}

{% block body %}
    <div class="flex flex-col h-fit bg-zinc-800 w-fit pb-2 text-white">
        <span class="w-full text-center pt-2">
            <strong>Protean Kingdom</strong>
        </span>
        <div class="text-center mt-4">
            <span>Protean Kingdom is first fraction zone. It is zone where you will be able to find only people from your fraction. 
                Protean Kingdom belong to Human Fraction. You can get to the Protean Kingdom when you reach 35 level of your character.
                This zone is divided for few small regions. You are able to reach them by teleport or by foot. 
                This zone will let you efficently level up your character to 55 level. Monsters are stronger than in Dorion, but weaker than Death Valley.
            </span>
        </div>
        <div class="flex justify-center w-full pt-4 pb-4">
            <iframe src="https://www.youtube.com/embed/a3ncNzMhs6g" title="YouTube video player" 
            frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
            class="w-[280px] h-[140px] md:w-[320px] md:h-[180px] xl:w-[420px] xl:h-[260px] 2xl:w-[520px] 2xl:h-[320px]">
            </iframe>
        </div>
    </div>
{% endblock %}