{% extends 'base.html' %}
{% block title %} Rise Online World Login {% endblock %}

{% block body %}

<main class ="flex space-x-2 text-2xs
sm:text-2xs sm:space-x-8 sm:mx-8 sm:mb-auto
md:text-xs md:space-x-12 md:mx-8 md:mb-auto
lg:text-sm lg:space-x-16 lg:mx-12 lg:mb-auto 
xl:text-lg xl:space-x-24 xl:mx-16 xl:mb-auto 
2xl:text-base">

<!--        left menu -->
    <div class="flex h-fit bg-zinc-800  ml-2 2xl:ml-10 text-justify">
        <div class="flex-col text-white sm:w-20 md:w-20 lg:w-24 2xl:w-24 m-0 text-center">
            {% for item in left_side_item %}
                <div id ="{{item.name}}" class="nav_item" >
                        {% if item.name == 'News' %}
                            <div class="block p-2 hover:text-sky-600 cursor-pointer leftNavItem" onclick="location.href='/';">{{item.name}}</div>
                        {% elif item.name == 'Skills' %} 
                        <div class="block p-2 hover:text-sky-600 cursor-pointer leftNavItem" >{{item.name}}</div>
                            <div class="pt-0 hidden bg-neutral-800 w-full">
                                <ul class="">
                                    <li class="hover:cursor-pointer pt-2 text-2xs 2xl:text-xs pb-1 hover:text-sky-500" onclick="location.href='/skills/warrior';">Warrior</li>
                                    <li class="hover:cursor-pointer pt-2 text-2xs 2xl:text-xs pb-1 hover:text-sky-500" onclick="location.href='/skills/mage';">Mage</li>
                                    <li class="hover:cursor-pointer pt-2 text-2xs 2xl:text-xs pb-1 hover:text-sky-500" onclick="location.href='/skills/priest';">Priest</li>
                                    <li class="hover:cursor-pointer pt-2 text-2xs 2xl:text-xs pb-1 hover:text-sky-500" onclick="location.href='/skills/rogue';">Rogue</li>
                                </ul>
                            </div>    
                        {% else %}
                            <div class="block p-2 hover:text-sky-600 cursor-pointer leftNavItem" onclick="location.href='/{{item.name | lower}}';">{{item.name}}</div>
                        {% endif %}
                </div>
            {% endfor %}
            {% if user.is_authenticated %}
            <div>
                <div class="block p-2 hover:text-sky-600 text-center cursor-pointer leftNavItem" onclick="location.href='/admin';">Admin</div> 
            </div>
            {% endif %}
        </div>
    </div>

<!--    content div -->
    <div class="flex flex-col bg-[#191D21] w-screen h-fit 2xl:h-screen">
        <div class="flex flex-col w-full  justify-center">

            <div class="flex w-full pt-2 pb-2">
                <div class="text-2xl mx-auto text-[#dbae28] pb-2">Armors</div>
            </div>
            <div class="w-full pb-4 ">
                <!-- Item categories  -->
                <div class="grid grid-flow-col gap-1 text-white justify-items-center">
                    <!-- card with categories -->
                    <div class="flex flex-col bg-slate-500 text-center rounded-[5px] cursor-pointer 
                    w-16 xl:w-24 2xl:w-32
                    h-12 xl:h-24 2xl:h-32" onclick>
                        <div class="flex items-center justify-center w-full h-3/4">
                            <i class="fa-solid fa-shield-halved text-white text-[1.5rem] 2xl:text-[3rem]" ></i>
                        </div>
                        <div class="flex flex-col w-full h-1/4 bg-slate-200 items-center justify-center">
                            <span class="text-black text-2xs font-bold">Warrior Armor</span>
                        </div>
                    </div>
                    <div class="flex flex-col bg-slate-500 text-center rounded-[5px] cursor-pointer 
                    w-16 xl:w-24 2xl:w-32
                    h-12 xl:h-24 2xl:h-32" onclick>
                        <div class="flex items-center justify-center w-full h-3/4">
                            <i class="fa-solid fa-shield-halved text-white text-[1.5rem] 2xl:text-[3rem]" ></i>
                        </div>
                        <div class="flex flex-col w-full h-1/4 bg-slate-200 items-center justify-center xl:w-24 2xl:w-32">
                            <span class="text-black text-2xs font-bold">Priest Armor</span>
                        </div>
                    </div>
                    <div class="flex flex-col bg-slate-500 text-center rounded-[5px] cursor-pointer 
                    w-16 xl:w-24 2xl:w-32
                    h-12 xl:h-24 2xl:h-32" onclick>
                        <div class="flex items-center justify-center w-full h-3/4">
                            <i class="fa-solid fa-shield-halved text-white text-[1.5rem] 2xl:text-[3rem]" ></i>
                        </div>
                        <div class="flex flex-col w-full h-1/4 bg-slate-200 items-center justify-center">
                            <span class="text-black text-2xs font-bold">Rogue Armor</span>
                        </div>
                    </div>
                    <div class="flex flex-col bg-slate-500 text-center rounded-[5px] cursor-pointer 
                    w-16 xl:w-24 2xl:w-32
                    h-12 xl:h-24 2xl:h-32" onclick>
                        <div class="flex items-center justify-center w-full h-3/4">
                            <i class="fa-solid fa-shield-halved text-white text-[1.5rem] 2xl:text-[3rem]" ></i>
                        </div>
                        <div class="flex flex-col w-full h-1/4 bg-slate-200 items-center justify-center">
                            <span class="text-black text-2xs font-bold">Mage Armor</span>
                        </div>
                    </div>
                </div>           
            </div>
        </div>
        <!-- armors content grid view -->
        <div class="text-white text-center pb-2 text-sm">
            Warrior Armors
        </div>
        <div class="flex flex-col w-full justify-center ">
            <div class="grid grid-cols-6 gap-4 justify-items-center mb-4 text-center">
                {% for warrior_armor in warrior_armors %}
                <div class="w-[50px] h-[40px] 2xl:w-fit 2xl:h-fit text-black">
                    <div class="flex justify-center w-full ">
                        <img src="{{warrior_armor.img.url}}"  alt="training_sword" class="w-6 2xl:w-12">
                    </div>
                    <span class="text-white">{{warrior_armor.name}}</span>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="text-white text-center pb-2 text-sm">
            Priest Armors
        </div>
        <div class="flex flex-col w-full justify-center ">
            <div class="grid grid-cols-6 gap-4 justify-items-center mb-4 text-center">
                {% for priest_armor in priest_armors %}
                <div class="w-[50px] h-[40px] 2xl:w-fit 2xl:h-fit text-black">
                    <div class="flex justify-center w-full ">
                        <img src="{{priest_armor.img.url}}"  alt="training_sword" class="w-6 2xl:w-12">
                    </div>
                    <span class="text-white">{{priest_armor.name}}</span>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="text-white text-center pb-2 text-sm">
            Rogue Armors
        </div>
        <div class="flex flex-col w-full justify-center ">
            <div class="grid grid-cols-6 gap-4 justify-items-center mb-4 text-center">
                {% for rogue_armor in rogue_armors %}
                <div class="w-[50px] h-[40px] 2xl:w-fit 2xl:h-fit text-black">
                    <div class="flex justify-center w-full ">
                        <img src="{{rogue_armor.img.url}}"  alt="training_sword" class="w-6 2xl:w-12">
                    </div>
                    <span class="text-white">{{rogue_armor.name}}</span>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="text-white text-center pb-2 text-sm">
            Mage Armors
        </div>
        <div class="flex flex-col w-full justify-center ">
            <div class="grid grid-cols-6 gap-4 justify-items-center mb-4 text-center">
                {% for mage_armor in mage_armors %}
                <div class="w-[50px] h-[40px] 2xl:w-fit 2xl:h-fit text-black">
                    <div class="flex justify-center w-full ">
                        <img src="{{mage_armor.img.url}}"  alt="training_sword" class="w-6 2xl:w-12">
                    </div>
                    <span class="text-white">{{mage_armor.name}}</span>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- right adds -->
    <div class="flex-col me-2">

        <!--  first add-->
        <div class="flex w-16 h-24 bg-zinc-800 text-white 
                        sm:w-20 sm:h-28 
                        md:w-24 md:h-36
                        lg:h-48 lg:w-28
                        xl:h-48 xl:w-32
                        2xl:h-48 2xl:w-36">First add
        </div>

        <!-- second add -->
        <div class="flex w-16 bg-zinc-800 my-2 h-24 text-white 
                        sm:w-20 sm:h-28
                        md:w-24 md:h-36
                        lg:h-48 lg:w-28
                        xl:h-48 xl:w-32
                        2xl:h-48 2xl:w-36">Second add
        </div>
    </div>
</main>


</div>

{% endblock %}