{% extends 'base.html' %}
{% block title %} Rise Online World Login {% endblock %}

{% block body %}
    <div class="flex h-fit w-full">
    <!--    content div -->
        <div class="flex flex-col bg-[#191D21] h-fit w-full">
            <!-- navigator cards -->
            <div class="flex flex-col w-full justify-center pb-8">
                <div class="flex w-full pt-2 pb-2">
                    <div class="text-2xl mx-auto text-[#dbae28] pb-8 pt-4 md:text-3xl">Weapons</div>
                </div>
                <div class="w-full pb-4 pl-4 pr-4">
                    <!-- Item categories  -->
                    <div class="grid grid-flow-col grid-rows-2 gap-2 md:grid-rows-1 md:gap-1 text-white justify-items-center">
                        <!-- card with categories -->
                        
                        <!-- Swords -->
                        <div class="flex flex-col bg-slate-500 text-center rounded-[5px] cursor-pointer 
                        w-12 md:w-16 xl:w-24 2xl:w-28
                        h-12 md:h-16 xl:h-24 2xl:h-28"
                        item-menu-button>
                            <div class="flex items-center justify-center w-full h-3/4">
                                <i class="fa-solid fa-shield-halved text-white text-[1.5rem] 2xl:text-[3rem]" ></i>
                            </div>
                            <div class="flex flex-col w-full h-1/4 bg-slate-200 items-center justify-center">
                                <span class="text-black text-2xs lg:text-sm 2xl:text-base font-bold">Swords</span>
                            </div>
                        </div>

                        <!-- Axes -->
                        <div class="flex flex-col bg-slate-500 text-center rounded-[5px] cursor-pointer 
                        w-12 md:w-16 xl:w-24 2xl:w-28
                        h-12 md:h-16 xl:h-24 2xl:h-28"
                        item-menu-button>
                            <div class="flex items-center justify-center w-full h-3/4">
                                <i class="fa-solid fa-shield-halved text-white text-[1.5rem] 2xl:text-[3rem]" ></i>
                            </div>
                            <div class="flex flex-col w-full h-1/4 bg-slate-200 items-center justify-center">
                                <span class="text-black text-2xs lg:text-sm 2xl:text-base font-bold">Axes</span>
                            </div>
                        </div>

                        <!-- Polearms -->
                        <div class="lex flex-col bg-slate-500 text-center rounded-[5px] cursor-pointer 
                        w-12 md:w-16 xl:w-24 2xl:w-28
                        h-12 md:h-16 xl:h-24 2xl:h-28"
                        item-menu-button>
                            <div class="flex items-center justify-center w-full h-3/4">
                                <i class="fa-solid fa-shield-halved text-white text-[1.5rem] 2xl:text-[3rem]" ></i>
                            </div>
                            <div class="flex flex-col w-full h-1/4 bg-slate-200 items-center justify-center">
                                <span class="text-black text-2xs lg:text-sm 2xl:text-base font-bold">Polearms</span>
                            </div>
                        </div>

                        <!-- Staffs -->
                        <div class="lex flex-col bg-slate-500 text-center rounded-[5px] cursor-pointer 
                        w-12 md:w-16 xl:w-24 2xl:w-28
                        h-12 md:h-16 xl:h-24 2xl:h-28"
                        item-menu-button>
                            <div class="flex items-center justify-center w-full h-3/4">
                                <i class="fa-solid fa-shield-halved text-white text-[1.5rem] 2xl:text-[3rem]" ></i>
                            </div>
                            <div class="flex flex-col w-full h-1/4 bg-slate-200 items-center justify-center">
                                <span class="text-black text-2xs lg:text-sm 2xl:text-base font-bold">Staffs</span>
                            </div>
                        </div>

                        <!-- Daggers -->
                        <div class="lex flex-col bg-slate-500 text-center rounded-[5px] cursor-pointer 
                        w-12 md:w-16 xl:w-24 2xl:w-28
                        h-12 md:h-16 xl:h-24 2xl:h-28"
                        item-menu-button>
                            <div class="flex items-center justify-center w-full h-3/4">
                                <i class="fa-solid fa-shield-halved text-white text-[1.5rem] 2xl:text-[3rem]" ></i>
                            </div>
                            <div class="flex flex-col w-full h-1/4 bg-slate-200 items-center justify-center">
                                <span class="text-black text-2xs lg:text-sm 2xl:text-base font-bold">Daggers</span>
                            </div>
                        </div>

                        <!-- Maces -->
                        <div class="lex flex-col bg-slate-500 text-center rounded-[5px] cursor-pointer 
                        w-12 md:w-16 xl:w-24 2xl:w-28
                        h-12 md:h-16 xl:h-24 2xl:h-28"
                        item-menu-button>
                            <div class="flex items-center justify-center w-full h-3/4">
                                <i class="fa-solid fa-shield-halved text-white text-[1.5rem] 2xl:text-[3rem]" ></i>
                            </div>
                            <div class="flex flex-col w-full h-1/4 bg-slate-200 items-center justify-center">
                                <span class="text-black text-2xs lg:text-sm 2xl:text-base font-bold">Maces</span>
                            </div>
                        </div>

                        <!-- Bows -->
                        <div class="lex flex-col bg-slate-500 text-center rounded-[5px] cursor-pointer 
                        w-12 md:w-16 xl:w-24 2xl:w-28
                        h-12 md:h-16 xl:h-24 2xl:h-28" 
                        item-menu-button>
                            <div class="flex items-center justify-center w-full h-3/4">
                                <i class="fa-solid fa-shield-halved text-white text-[1.5rem] 2xl:text-[3rem]" ></i>
                            </div>
                            <div class="flex flex-col w-full h-1/4 bg-slate-200 items-center justify-center">
                                <span class="text-black text-2xs lg:text-sm 2xl:text-base font-bold">Bows</span>
                            </div>
                        </div>

                    </div>           
                </div>
            </div>

            <!-- items content grid view -->
            <div class="text-center pb-2" id="swords">
                <span class="text-[#dbae28] text-xl md:text-2xl">Swords</span>
            </div>

            <div class="flex flex-col w-full justify-center">
                <div class="grid grid-cols-3 sm:grid-cols-4 lg:grid-cols-5 gap-4 md:gap-8 justify-items-center mb-4 text-center">
                    {% for sword in swords %}
                        <div class="w-[80px] md:w-[90px] h-[50px] md:h-[70px] 2xl:w-fit 2xl:h-fit text-black">
                            <div class="flex justify-center w-full">
                                <img src="{{sword.img.url}}" alt="{{sword.name}}" class="w-6 md:w-8 lg:w-10 2xl:w-12">
                            </div>
                            <span class="text-white md:text-sm">{{sword.name}}</span>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="text-center pb-2" id="axes">
                <span class="text-[#dbae28] text-xl md:text-2xl">Axes</span>
            </div>

            <div class="flex flex-col w-full justify-center">
                <div class="grid grid-cols-3 sm:grid-cols-4 lg:grid-cols-5  gap-4 md:gap-8 justify-items-center mb-4 text-center">
                    {% for axe in axes %}
                        <div class="w-[80px] md:w-[90px] h-[50px] md:h-[70px] 2xl:w-fit 2xl:h-fit text-black">
                            <div class="flex justify-center w-full">
                                <img src="{{axe.img.url}}" alt="{{axe.name}}" class="w-6 md:w-8 lg:w-10 2xl:w-12">
                            </div>
                            <span class="text-white md:text-sm">{{axe.name}}</span>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="text-center pb-2" id="daggers">
                <span class="text-[#dbae28] text-xl md:text-2xl">Daggers</span>
            </div>

            <div class="flex flex-col w-full justify-center">
                <div class="grid grid-cols-3 sm:grid-cols-4 lg:grid-cols-5 gap-4 md:gap-8 justify-items-center mb-4 text-center">
                    {% for dagger in daggers %}
                        <div class="w-[80px] md:w-[90px] h-[50px] md:h-[70px] 2xl:w-fit 2xl:h-fit text-black">
                            <div class="flex justify-center w-full">
                                <img src="{{dagger.img.url}}" alt="{{dagger.name}}" class="w-6 md:w-8 lg:w-10 2xl:w-12">
                            </div>
                            <span class="text-white md:text-sm">{{dagger.name}}</span>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="text-center pb-2" id="bows">
                <span class="text-[#dbae28] text-xl md:text-2xl">Bows</span>
            </div>

            <div class="flex flex-col w-full justify-center">
                <div class="grid grid-cols-3 sm:grid-cols-4 lg:grid-cols-5 gap-4 md:gap-8 justify-items-center mb-4 text-center">
                    {% for bow in bows %}
                        <div class="w-[80px] md:w-[90px] h-[50px] md:h-[70px] 2xl:w-fit 2xl:h-fit text-black">
                            <div class="flex justify-center w-full">
                                <img src="{{bow.img.url}}" alt="{{bow.name}}" class="w-6 md:w-8 lg:w-10 2xl:w-12">
                            </div>
                            <span class="text-white md:text-sm">{{bow.name}}</span>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="text-center pb-2" id="maces">
                <span class="text-[#dbae28] text-xl md:text-2xl">Maces</span>
            </div>

            <div class="flex flex-col w-full justify-center">
                <div class="grid grid-cols-3 sm:grid-cols-4 lg:grid-cols-5 gap-4 md:gap-8 justify-items-center mb-4 text-center">
                    {% for mace in maces %}
                        <div class="w-[80px] md:w-[90px] h-[50px] md:h-[70px] 2xl:w-fit 2xl:h-fit text-black">
                            <div class="flex justify-center w-full">
                                <img src="{{mace.img.url}}" alt="{{mace.name}}" class="w-6 md:w-8 lg:w-10 2xl:w-12">
                            </div>
                            <span class="text-white md:text-sm">{{mace.name}}</span>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="text-center pb-2" id="staffs">
                <span class="text-[#dbae28] text-xl md:text-2xl">Staffs</span>
            </div>
            <div class="flex flex-col w-full justify-center">
                <div class="grid grid-cols-3 sm:grid-cols-4 lg:grid-cols-5 gap-4 md:gap-8 justify-items-center mb-4 text-center">
                    {% for staff in staffs %}
                        <div class="w-[80px] md:w-[90px] h-[50px] md:h-[70px] 2xl:w-fit 2xl:h-fit text-black">
                            <div class="flex justify-center w-full">
                                <img src="{{staff.img.url}}" alt="{{staff.name}}" class="w-6 md:w-8 lg:w-10 2xl:w-12">
                            </div>
                            <span class="text-white md:text-sm">{{staff.name}}</span>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="text-center pb-2" id="polearms">
                <span class="text-[#dbae28] text-xl md:text-2xl">Polearm</span>
            </div>

            <div class="flex flex-col w-full justify-center">
                <div class="grid grid-cols-3 sm:grid-cols-4 lg:grid-cols-5 gap-4 md:gap-8 justify-items-center mb-4 text-center">
                    {% for spear in spears %}
                        <div class="w-[80px] md:w-[90px] md:h-[70px] h-[50px] 2xl:w-fit 2xl:h-fit text-black">
                            <div class="flex justify-center w-full">
                                <img src="{{spear.img.url}}"  alt="{{spear.name}}" class="w-6 md:w-8 lg:w-10 2xl:w-12">
                            </div>
                            <span class="text-white md:text-sm">{{spear.name}}</span>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}