{% extends 'base.html' %}
{% block title %} Rise Online World Login {% endblock %}

{% block body %}
    <div class="flex h-fit">
    <!--    content div -->
        <div class="flex flex-col bg-[#191D21] h-fit w-fit">
            <!-- navigator cards -->
            <div class="flex flex-col w-full justify-center">
                <div class="flex w-full pt-2 pb-2">
                    <div class="text-2xl mx-auto text-[#dbae28] pb-2">Weapons</div>
                </div>
                <div class="w-full pb-4 pl-4 pr-4 ">
                    <!-- Item categories  -->
                    <div class="grid grid-flow-col gap-1 text-white justify-items-center">
                        <!-- card with categories -->
                        
                        <!-- Swords -->
                        <div class="flex flex-col bg-slate-500 text-center rounded-[5px] cursor-pointer 
                        w-12 xl:w-24 2xl:w-28
                        h-12 xl:h-24 2xl:h-28" 
                        item-menu-button>
                            <div class="flex items-center justify-center w-full h-3/4">
                                <i class="fa-solid fa-shield-halved text-white text-[1.5rem] 2xl:text-[3rem]" ></i>
                            </div>
                            <div class="flex flex-col w-full h-1/4 bg-slate-200 items-center justify-center">
                                <span class="text-black text-2xs 2xl:text-base font-bold">Swords</span>
                            </div>
                        </div>

                        <!-- Axes -->
                        <div class="flex flex-col bg-slate-500 text-center rounded-[5px] cursor-pointer 
                        w-12 xl:w-24 2xl:w-28
                        h-12 xl:h-24 2xl:h-28" 
                        item-menu-button>
                            <div class="flex items-center justify-center w-full h-3/4">
                                <i class="fa-solid fa-shield-halved text-white text-[1.5rem] 2xl:text-[3rem]" ></i>
                            </div>
                            <div class="flex flex-col w-full h-1/4 bg-slate-200 items-center justify-center">
                                <span class="text-black text-2xs 2xl:text-base font-bold">Axes</span>
                            </div>
                        </div>

                        <!-- Polearms -->
                        <div class="lex flex-col bg-slate-500 text-center rounded-[5px] cursor-pointer 
                        w-12 xl:w-24 2xl:w-28
                        h-12 xl:h-24 2xl:h-28" 
                        item-menu-button>
                            <div class="flex items-center justify-center w-full h-3/4">
                                <i class="fa-solid fa-shield-halved text-white text-[1.5rem] 2xl:text-[3rem]" ></i>
                            </div>
                            <div class="flex flex-col w-full h-1/4 bg-slate-200 items-center justify-center">
                                <span class="text-black text-2xs 2xl:text-base font-bold">Polearms</span>
                            </div>
                        </div>

                        <!-- Staffs -->
                        <div class="lex flex-col bg-slate-500 text-center rounded-[5px] cursor-pointer 
                        w-12 xl:w-24 2xl:w-28
                        h-12 xl:h-24 2xl:h-28" 
                        item-menu-button>
                            <div class="flex items-center justify-center w-full h-3/4">
                                <i class="fa-solid fa-shield-halved text-white text-[1.5rem] 2xl:text-[3rem]" ></i>
                            </div>
                            <div class="flex flex-col w-full h-1/4 bg-slate-200 items-center justify-center">
                                <span class="text-black text-2xs 2xl:text-base font-bold">Staffs</span>
                            </div>
                        </div>

                        <!-- Daggers -->
                        <div class="lex flex-col bg-slate-500 text-center rounded-[5px] cursor-pointer 
                        w-12 xl:w-24 2xl:w-28
                        h-12 xl:h-24 2xl:h-28" 
                        item-menu-button>
                            <div class="flex items-center justify-center w-full h-3/4">
                                <i class="fa-solid fa-shield-halved text-white text-[1.5rem] 2xl:text-[3rem]" ></i>
                            </div>
                            <div class="flex flex-col w-full h-1/4 bg-slate-200 items-center justify-center">
                                <span class="text-black text-2xs 2xl:text-base font-bold">Daggers</span>
                            </div>
                        </div>

                        <!-- Maces -->
                        <div class="lex flex-col bg-slate-500 text-center rounded-[5px] cursor-pointer 
                        w-12 xl:w-24 2xl:w-28
                        h-12 xl:h-24 2xl:h-28" 
                        item-menu-button>
                            <div class="flex items-center justify-center w-full h-3/4">
                                <i class="fa-solid fa-shield-halved text-white text-[1.5rem] 2xl:text-[3rem]" ></i>
                            </div>
                            <div class="flex flex-col w-full h-1/4 bg-slate-200 items-center justify-center">
                                <span class="text-black text-2xs 2xl:text-base font-bold">Maces</span>
                            </div>
                        </div>

                        <!-- Bows -->
                        <div class="lex flex-col bg-slate-500 text-center rounded-[5px] cursor-pointer 
                        w-12 xl:w-24 2xl:w-28
                        h-12 xl:h-24 2xl:h-28" 
                        item-menu-button>
                            <div class="flex items-center justify-center w-full h-3/4">
                                <i class="fa-solid fa-shield-halved text-white text-[1.5rem] 2xl:text-[3rem]" ></i>
                            </div>
                            <div class="flex flex-col w-full h-1/4 bg-slate-200 items-center justify-center">
                                <span class="text-black text-2xs 2xl:text-base font-bold">Bows</span>
                            </div>
                        </div>

                    </div>           
                </div>
            </div>

            <!-- items content grid view -->
            <div class="text-white text-center pb-2 text-sm" id="swords">
                Swords
            </div>

            <div class="flex flex-col w-full justify-center">
                <div class="grid grid-cols-6 gap-4 justify-items-center mb-4 text-center">
                    {% for sword in swords %}
                        <div class="w-[50px] h-[40px] 2xl:w-fit 2xl:h-fit text-black">
                            <div class="flex justify-center w-full">
                                <img src="{{sword.img.url}}" alt="{{sword.name}}" class="w-6 2xl:w-12">
                            </div>
                            <span class="text-white">{{sword.name}}</span>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="text-white text-center pb-2 text-sm" id="axes">
                Axes
            </div>

            <div class="flex flex-col w-full justify-center">
                <div class="grid grid-cols-6 gap-4 justify-items-center mb-4 text-center">
                    {% for axe in axes %}
                        <div class="w-[50px] h-[40px] 2xl:w-fit 2xl:h-fit text-black">
                            <div class="flex justify-center w-full ">
                                <img src="{{axe.img.url}}" alt="{{axe.name}}" class="w-6 2xl:w-12">
                            </div>
                            <span class="text-white">{{axe.name}}</span>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="text-white text-center pb-2 text-sm" id="daggers">
                Daggers
            </div>

            <div class="flex flex-col w-full justify-center">
                <div class="grid grid-cols-6 gap-4 justify-items-center mb-4 text-center">
                    {% for dagger in daggers %}
                        <div class="w-[50px] h-[40px] 2xl:w-fit 2xl:h-fit text-black">
                            <div class="flex justify-center w-full">
                                <img src="{{dagger.img.url}}" alt="{{dagger.name}}" class="w-6 2xl:w-12">
                            </div>
                            <span class="text-white">{{dagger.name}}</span>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="text-white text-center pb-2 text-sm" id="bows">
                Bows
            </div>

            <div class="flex flex-col w-full justify-center">
                <div class="grid grid-cols-6 gap-4 justify-items-center mb-4 text-center">
                    {% for bow in bows %}
                        <div class="w-[50px] h-[40px] 2xl:w-fit 2xl:h-fit text-black">
                            <div class="flex justify-center w-full">
                                <img src="{{bow.img.url}}" alt="{{bow.name}}" class="w-6 2xl:w-12">
                            </div>
                            <span class="text-white">{{bow.name}}</span>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="text-white text-center pb-2 text-sm" id="maces">
                Maces
            </div>

            <div class="flex flex-col w-full justify-center">
                <div class="grid grid-cols-6 gap-4 justify-items-center mb-4 text-center">
                    {% for mace in maces %}
                        <div class="w-[50px] h-[40px] 2xl:w-fit 2xl:h-fit text-black">
                            <div class="flex justify-center w-full">
                                <img src="{{mace.img.url}}" alt="{{mace.name}}" class="w-6 2xl:w-12">
                            </div>
                            <span class="text-white">{{mace.name}}</span>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="text-white text-center pb-2 text-sm" id="staffs">
                Staffs
            </div>
            <div class="flex flex-col w-full justify-center">
                <div class="grid grid-cols-6 gap-4 justify-items-center mb-4 text-center">
                    {% for staff in staffs %}
                        <div class="w-[50px] h-[40px] 2xl:w-fit 2xl:h-fit text-black">
                            <div class="flex justify-center w-full">
                                <img src="{{staff.img.url}}" alt="{{staff.name}}" class="w-6 2xl:w-12">
                            </div>
                            <span class="text-white">{{staff.name}}</span>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="text-white text-center pb-2 text-sm" id="polearms">
                Polearm
            </div>

            <div class="flex flex-col w-full justify-center ">
                <div class="grid grid-cols-6 gap-4 justify-items-center mb-4 text-center">
                    {% for spear in spears %}
                        <div class="w-[50px] h-[40px] 2xl:w-fit 2xl:h-fit text-black">
                            <div class="flex justify-center w-full ">
                                <img src="{{spear.img.url}}"  alt="{{spear.name}}" class="w-6 2xl:w-12">
                            </div>
                            <span class="text-white">{{spear.name}}</span>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}